@charset "UTF-8";
@media all { /* Normalize.CSS */
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
  audio, canvas, video { display: inline-block; }
  audio:not([controls]) { display: none; height: 0; }
  [hidden] { display: none; }
  html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
  a:focus { outline: thin dotted; }
  a:active, a:hover { outline: 0; }
  h1 { font-size: 2em; margin: .67em 0; }
  abbr[title] { border-bottom: 1px dotted; }
  b, strong { font-weight: 700; }
  dfn { font-style: italic; }
  hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; border: 0; background: transparent; border-top: 1px solid #EEE; }
  mark { background: #ff0; color: #000; }
  code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
  pre { white-space: pre-wrap; }
  q { quotes: \201C \201D \2018 \2019; }
  small { font-size: 80%; }
  sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
  sup { top: -.5em; }
  sub { bottom: -.25em; }
  img { border: 0; }
  svg:not(:root) { overflow: hidden; }
  fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }
  button, input, select, textarea { font-family: inherit; font-size: 100%; line-height: normal; margin: 0; }
  button, input { line-height: normal; }
  button, select { text-transform: none; }
  button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
  button[disabled], html input[disabled] { cursor: default; }
  input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }
  input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
  textarea { overflow: auto; vertical-align: top; line-height: 23px; }
  table { border-collapse: collapse; border-spacing: 0; }
  body, figure { margin: 0; }
  legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
  pre, blockquote, textarea { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
  img, table { max-width: 100%; height: auto; }
  img { -ms-interpolation-mode: bicubic; }
  *, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* Helpers */
  .clear { clear: both; display: block; height: 0px; overflow: hidden; }
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }
  .left { float: left; }
  .right { float: right; }
  .hide { display: none; }
  .block { display: block; }
  .inline { display: inline-block; vertical-align: top; }
  .overflow { overflow: auto; }
  .fluid { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .first { margin-left: 0 !important; }
  .last { margin-right: 0 !important; }
  .nothing { margin-left: 0 !important; margin-right: 0 !important; }
  .float.left { float: left !important; }
  .float.right { float: right !important; }
  .align.left { text-align: left; float: none; }
  .align.right { text-align: right; float: none; }
  .align.center { text-align: center; }
  .align.justify { text-align: justify; }
  img.align.left, img.align-left, img.alignleft, img[align="left"] { display: inline; float: left; margin-right: 15px; }
  img.align.right, img.align-right, img.alignright, img[align="right"] { display: inline; float: right; margin-left: 15px; }
  img.align.center, img.align-center, img.aligncenter, img[align="center"] { clear: both; display: block; margin-right: auto; margin-left: auto; }
  /* Tipografia */
  body { line-height: 1.6em; font-size: 14px; }
  h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 120%; }
  a, a:link { color: #3151A2; text-decoration: none; }
  a:hover, a:visited { color: #3151A2; }
  a img { border: none; display: block; }
  .text.red, .text.red a { color: #b60105; }
  .text.orange, .text.orange a { color: #ec983e; }
  .text.green, .text.green a { color: #00852A; }
  .text.blue, .text.blue a { color: #005ABB; }
  .text.alt, .text.alt a { color: #AAA; }
  .text.gray, .text.gray a { color: #777; }
  .text.small { font-size: 80%; }
  .text.big { font-size: 120%; }
  /* Formulários */
  label { display: inline-block; padding-bottom: 5px; vertical-align: top; }
  label.radio, label.checkbox { display: inline-block; margin-right: 10px; cursor: pointer; }
  input, textarea { background: #FFF; border: 1px solid; border-color: #BBB #DDD #DDD #BBB; border-radius: 2px; padding: 8px 10px; width: 280px; }
  input:hover, input:focus, textarea:hover, textarea:focus { transition: all 0.15s ease-out 0; }
  input:not([type="submit"]), textarea:not([type="submit"]) { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  input:not([type="submit"]):focus, textarea:not([type="submit"]):focus { background-color: #FDFDFD; border-color: #129FEA; outline: 0; }
  input { height: 33px; }
  input[type="radio"], input[type="checkbox"] { background: none; border: none; height: auto; padding: 0; width: auto; }
  [type="submit"], button { border: none; cursor: pointer; display: inline-block; font-weight: normal; overflow: visible; padding: 8px 15px; vertical-align: top; width: auto; -webkit-appearance: none; }
  textarea { min-height: 100px; min-width: 200px; }
  select { min-width: 298px; }
  fieldset { border: 0; padding: 0; margin: 50px 0 0; }
  fieldset legend { border-bottom: 1px solid #EEE; display: block; width: 100%; font-size: 18px; margin-bottom: 20px; }
  form .group { margin-top: 10px; width: 100%; clear: both; }
  form .actions { margin-top: 30px; }
  form.inline .group label { width: 140px; line-height: 35px; float: left; margin-right: 20px; text-align: right; }
  /* Wrappers */
  .select { background: #FFF; border: 1px solid #bbb; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), inset 0 1px 0 white; cursor: pointer; display: block; overflow: hidden; max-width: 300px; position: relative; }
  .select:before { background: #fcfcfc; border-left: 1px solid #bbb; content: ''; display: block; height: 30px; position: absolute; right: 0; z-index: 1; width: 28px; }
  .select:hover:before { background: #EEE; }
  .select:after { border-bottom: none; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #333; content: ''; display: block; height: 0; position: absolute; right: 10px; top: 13px; width: 0; z-index: 2; }
  .select.nostyle { border: 0; box-shadow: none; display: inline-block; font-weight: bold; vertical-align: middle; min-width: 5px; width: auto; }
  .select.nostyle:before, .select.nostyle:after { display: none !important; }
  .select.nostyle select { height: 25px; padding: 0 2px; min-width: 5px; width: auto; }
  .select select { background: transparent; border: 0 !important; border-radius: 0; cursor: pointer; height: 30px; margin: 0 auto; min-width: 50px; outline: none; padding: 7px 40px 7px 10px; position: relative; text-indent: 0.01px; text-overflow: ""; vertical-align: middle; width: 100%; z-index: 3; appearance: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .select select:focus { outline: none; }
  .select select::-ms-expand { display: none; }
  /* Botões */
  .button, a.button { display: inline-block; line-height: 33px; margin: 0 2px 0 0; padding: 0 15px; vertical-align: top; }
  .button, a.button, button, [type="submit"] { background: #888; border-bottom: 2px solid rgba(0, 0, 0, 0.2); cursor: pointer; color: #FFF; height: 33px; font-weight: normal; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 2px; }
  .button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border: 0; padding: 0; }
  .button:hover, .button:focus, a.button:hover, a.button:focus, button:hover, button:focus, [type="submit"]:hover, [type="submit"]:focus { transition: all 0.15s ease-out 0; }
  .button.small, a.button.small, button.small, [type="submit"].small { padding: 0 8px !important; line-height: 28px !important; height: 28px !important; }
  .button.ssmall, a.button.ssmall, button.ssmall, [type="submit"].ssmall { padding: 0 5px !important; line-height: 25px !important; height: 25px !important; }
  .button.big, a.button.big, button.big, [type="submit"].big { padding: 0 15px !important; line-height: 45px !important; height: 45px !important; font-size: 120%; }
  .button.sbig, a.button.sbig, button.sbig, [type="submit"].sbig { padding: 0 25px !important; line-height: 60px !important; height: 60px !important; font-size: 160%; }
  .button.green, a.button.green, button.green, [type="submit"].green { background-color: #1e8512; }
  .button.red, a.button.red, button.red, [type="submit"].red { background-color: #C32727; }
  .button.orange, a.button.orange, button.orange, [type="submit"].orange { background-color: #FF7034; }
  .button.yellow, a.button.yellow, button.yellow, [type="submit"].yellow { background-color: #EFC20E; }
  .button.blue, a.button.blue, button.blue, [type="submit"].blue { background-color: #1478e7; }
  .button.black, a.button.black, button.black, [type="submit"].black { background-color: #000; }
  .button:hover, a.button:hover, button:hover, [type="submit"]:hover { border-bottom: 2px solid rgba(0, 0, 0, 0.4); }
  .button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type="submit"]:focus, [type="submit"]:active { box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); }
  .buttons button, .buttons .button { border-radius: 0; margin: 0; float: left; }
  .buttons button:first-child, .buttons .button:first-child { border-radius: 2px 0 0 2px; }
  .buttons button:last-child, .buttons .button:last-child { border-radius: 0 2px 2px 0; }
  /* Validação */
  input.error, textarea.error, select.error { background-color: #ffcfcf; border-color: #d7162b; }
  input.error:focus, textarea.error:focus, select.error:focus { background-color: #fdeaed; border-color: #d7162b; }
  /* Tabelas */
  table { width: 100%; margin-bottom: 20px; }
  table td, table th { border: none; padding: 5px 15px; }
  table th { text-align: left; }
  table th:first-child { margin-left: -1px; }
  table th:last-child { margin-right: -1px; }
  table.bordered td, table.bordered th { border: 1px solid #EEE; }
  table.striped { border-left: 1px solid #EEE; border-right: 1px solid #EEE; }
  table.striped tr:nth-child(odd) { background-color: #F9F9F9; }
  table.striped td, table.striped th { border-right: 0; border-left: 0; }
  table.hover tr:hover { background-color: #F5F5F5; }
  table.padded td, table.padded th { padding-top: 10px; padding-bottom: 10px; } }
/* Print */
@media print { @page { margin: 0.5cm; }
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  h2, h3 { page-break-after: avoid; } }
/* Framework */
@media screen { /* Grid */
  .centered { max-width: 1400px; margin: 0 auto; display: block; padding: 0 20px; }
  .col2 { display: inline-block; float: left; vertical-align: top; width: 50%; }
  .col3 { display: inline-block; float: left; vertical-align: top; width: 33.33%; }
  .col4 { display: inline-block; float: left; vertical-align: top; width: 25%; }
  /* Toolbar */
  .toolbar { background: #FFF; border-bottom: 2px solid transparent; display: block; left: 0; min-height: 33px; padding: 5px 20px; position: fixed; right: 0; text-align: center; top: 0; width: 100%; z-index: 100; }
  .toolbar.toolbar-close { padding-right: 45px; }
  .toolbar .toolbar-text { display: inline-block; font-size: 125%; line-height: 33px; margin-right: 20px; }
  .toolbar .button-close { background: #000; border-radius: 3px; color: #FFF; cursor: pointer; display: block; font-size: 14px; font-weight: bold; line-height: 20px; height: 20px; position: absolute; right: 12px; text-align: center; top: 12px; width: 20px; }
  .toolbar p { margin: 0; padding: 0; }
  /* Logo */
  .logo { float: left; line-height: 55px; margin: 0 20px 0 0; padding: 0; }
  /* Navigation */
  .navigation { list-style: none; margin: 0; padding: 0; position: relative; }
  .navigation ul { margin: 0; padding: 0; }
  .navigation li { display: block; float: left; line-height: 55px; position: relative; }
  .navigation li a { display: block; padding: 0 15px; outline: 0; }
  .navigation li a.button { display: inline-block; vertical-align: middle; }
  .navigation li > ul { display: none; position: absolute; top: 100%; left: 0; z-index: 10; }
  .navigation li > ul li { float: none; line-height: 40px; }
  .navigation li:hover > ul { display: block; }
  .navigation .navigation-icon { background: #000; border-radius: 1px; color: #FFF; display: none; cursor: pointer; padding: 2px 7px; position: absolute; right: 0px; top: 10px; z-index: 2; outline: none; }
  .navigation .navigation-icon:active, .navigation .navigation-icon:focus { outline: none; }
  .navigation .navigation-icon span { display: block; margin: 5px 0px 5px 0px; height: 3px; background: #FFF; width: 20px; }
  /* Heading */
  .heading { font-size: 22px; line-height: 130%; padding: 20px 0; }
  .heading h2, .heading h3, .heading p { margin-top: 0; }
  .heading h2 { font-size: 200%; font-weight: normal; line-height: 130%; }
  /* Listas */
  .list { list-style: none; margin: 30px 0; padding: 0; }
  .list-blocks li { margin-bottom: 20px; }
  .list-blocks img { float: left; overflow: hidden; margin-right: 20px; }
  .list-blocks h3 { padding-top: 0; margin-top: 0; }
  /* Tabs */
  .tabs { border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-top: -1px; margin-bottom: 0; padding: 0 20px; }
  .tabs ul { margin: 0; padding: 0; }
  .tabs li { border: 1px solid transparent; border-bottom: 0; display: block; float: left; }
  .tabs li.active { background: #FFF; border-color: rgba(0, 0, 0, 0.1); margin-top: 1px; margin-bottom: -1px; }
  .tabs li.active a { color: #343434; }
  .tabs a { color: #343434; margin-right: 2px; line-height: 45px; display: block; padding: 0 10px; outline: 0; }
  .tabs a:hover { color: #000; }
  /* Alertas */
  .alert { background: #EDEDED; border: 1px solid #C0C0C0; border-radius: 2px; color: #333; display: block; margin: 5px 0; padding: 10px 20px 10px 15px; position: relative; }
  .alert .close { position: absolute; right: 7px; top: 8px; cursor: pointer; }
  .alert.green, .alert.success { background-color: #E9F9E5; border-color: #9BDEA8; color: #1C8400; }
  .alert.red, .alert.error { background-color: #F9E5E6; border-color: #DF8F8F; color: #C32727; }
  .alert.yellow, .alert.info { background-color: #FFF6BF; border-color: #EFC20E; }
  .alert.blue, .alert.notice { background-color: #DDEEFF; border-color: #85CAF3; color: #0055B5; }
  /* Labels */
  .label { background: #DDD; border-radius: 3px; color: #444; display: inline-block; line-height: 22px !important; margin-right: 2px; margin-bottom: 2px; padding: 0 4px; vertical-align: top; }
  .label.green { background-color: #1e8512; color: #FFF; }
  .label.red { background-color: #C32727; color: #FFF; }
  .label.yellow { background-color: #FFF6BF; border-color: #EFC20E; }
  .label.orange { background-color: #f79306; color: #FFF; }
  .label.blue { background-color: #1478e7; color: #FFF; }
  .label.bordered { background: #FFF; border: 1px solid #CCC; color: #444; }
  label .label { cursor: pointer; }
  /* Pagination */
  .pagination { margin-top: 40px; margin-bottom: 40px; text-align: center; }
  .pagination a { background: #FAFAFA; border: 1px solid #DFDFDF; display: inline-block; line-height: 36px; margin-bottom: 5px; margin-right: -1px; padding: 0 20px; }
  .pagination a.disabled { background: #FFF; color: #AAA; }
  .pagination a:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
  .pagination a:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
  /* Modal */
  .modal-backdrop { background-color: #000000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 1040; }
  .modal-backdrop.fade { opacity: 0; -webkit-transition: opacity 0.15s linear; -moz-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }
  .modal-backdrop, .modal-backdrop.fade.in { opacity: 0.3; filter: alpha(opacity=30); }
  .modal { bottom: 0; left: 0; position: fixed; right: 0; top: 0; outline: none; overflow-y: scroll; z-index: 1050; }
  .modal.fade { -webkit-transition: opacity .15s linear, top .15s ease-out; -moz-transition: opacity .15s linear, top .15s ease-out; -o-transition: opacity .15s linear, top .15s ease-out; transition: opacity .15s linear, top .15s ease-out; top: -50%; }
  .modal.fade.in { top: 0px; }
  .modal .container { background-color: #ffffff; border-radius: 3px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); margin: 20px auto; max-width: 560px; outline: none; position: relative; }
  .modal.small .container { max-width: 335px; }
  .modal.big .container { max-width: 600px; }
  .modal .header { background-color: #f9f9f9; border-bottom: 1px solid #ddd; padding: 15px; position: relative; border-radius: 3px 3px 0 0; }
  .modal .header h3 { margin: 0; }
  .modal .body { padding: 15px; position: relative; }
  .modal .footer { background-color: #f9f9f9; border-top: 1px solid #ddd; border-radius: 0 0 3px 3px; box-shadow: inset 0 1px 0 #FFF; padding: 15px; text-align: right; *zoom: 1; }
  .modal .footer:before, .modal .footer:after { display: table; content: ""; line-height: 0; }
  .modal .footer:after { clear: both; }
  /* Upload */
  .upload { border: 1px dotted #CCC; background: #FAFAFA; border-radius: 5px; cursor: pointer; display: block; min-height: 100px; position: relative; text-align: center; width: 100%; }
  .upload.upload-drag-hover { background-color: #fdf5db; }
  .upload input { bottom: 0; cursor: pointer; display: block; height: 100%; left: 0; opacity: 0; position: absolute; right: 0; top: 0; visibility: visible; width: 100%; }
  .upload .upload-text { color: #555; display: inline-block; font-size: 13px; padding: 10px; margin: 0 auto; text-align: center; vertical-align: middle; }
  .upload .upload-text p { margin-top: 0; }
  .upload .upload-text strong { text-decoration: underline; } }
/* Framework - Media-queries */
@media screen and (min-width: 841px) { .hide-desktop { display: none; }
  /* Navigation */
  .navigation-responsive-active ul { display: block; }
  .navigation-responsive-active ul ul { display: none; } }
@media screen and (max-width: 840px) { .hide-tablet { display: none; }
  /* Navigation */
  .navigation-responsive .navigation-icon { display: block; }
  .navigation-responsive ul { clear: both; display: none; float: none; }
  .navigation-responsive ul li > ul { border-top: 1px solid rgba(0, 0, 0, 0.15); display: block; margin-bottom: -1px; position: relative; }
  .navigation-responsive li { border-bottom: 1px solid rgba(0, 0, 0, 0.15); float: none; position: relative; width: 100%; }
  .navigation-responsive.navigation-responsive-active ul { display: block; } }
@media screen and (max-width: 540px) { .hide-phone { display: none; }
  .centered { padding: 0 15px; }
  /* Logo */
  .logo { font-size: 1.4em; }
  /* Heading */
  .heading { font-size: 16px; line-height: 130%; }
  .heading h2 { font-size: 170%; font-weight: normal; } }
/* Styles */
/* Media-queries */
