@charset "UTF-8";
@media all { /* Normalize.CSS */
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
  audio, canvas, video { display: inline-block; }
  audio:not([controls]) { display: none; height: 0; }
  [hidden] { display: none; }
  html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
  a:focus { outline: thin dotted; }
  a:active, a:hover { outline: 0; }
  h1 { font-size: 2em; margin: .67em 0; }
  abbr[title] { border-bottom: 1px dotted; }
  b, strong { font-weight: 700; }
  dfn { font-style: italic; }
  hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; border: 0; background: transparent; border-top: 1px solid #EEE; }
  mark { background: #ff0; color: #000; }
  code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
  pre { white-space: pre-wrap; }
  q { quotes: \201C \201D \2018 \2019; }
  small { font-size: 80%; }
  sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
  sup { top: -.5em; }
  sub { bottom: -.25em; }
  img { border: 0; }
  svg:not(:root) { overflow: hidden; }
  fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }
  button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
  button, input { line-height: normal; }
  button, select { text-transform: none; }
  button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
  button[disabled], html input[disabled] { cursor: default; }
  input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }
  input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
  textarea { overflow: auto; vertical-align: top; line-height: 23px; }
  table { border-collapse: collapse; border-spacing: 0; }
  body, figure { margin: 0; }
  legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
  pre, blockquote, textarea { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
  img, table { max-width: 100%; }
  img { -ms-interpolation-mode: bicubic; }
  /* Helpers */
  .clear { clear: both; display: block; height: 0px; overflow: hidden; }
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }
  .left { float: left; }
  .right { float: right; }
  .hide { display: none; }
  .inline { display: inline-block; }
  .overflow { overflow: auto; }
  .fluid { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
  .first { margin-left: 0 !important; }
  .last { margin-right: 0 !important; }
  .nothing { margin-left: 0 !important; margin-right: 0 !important; }
  .float.left { float: left !important; }
  .float.right { float: right !important; }
  .align.left { text-align: left; float: none; }
  .align.right { text-align: right; float: none; }
  .align.center { text-align: center; }
  .align.justify { text-align: justify; }
  img.align.left { display: inline; float: left; margin-right: 15px; }
  img.align.right { display: inline; float: right; margin-left: 15px; }
  img.align.center { clear: both; display: block; margin-right: auto; margin-left: auto; }
  /* Tipografia */
  body { line-height: 1.6em; font-size: 14px; }
  h1, h2, h3, h4, h5, h6 { font-weight: normal; }
  a, a:link { color: #3151A2; text-decoration: none; }
  a:hover, a:visited { color: #3151A2; }
  a img { border: none; display: block; }
  .text.red, .text.red a { color: #b60105; }
  .text.orange, .text.orange a { color: #ec983e; }
  .text.green, .text.green a { color: #00852A; }
  .text.blue, .text.blue a { color: #005ABB; }
  .text.alt, .text.alt a { color: #AAA; }
  .text.gray, .text.gray a { color: #777; }
  .text.small { font-size: 12px; }
  .text.big { font-size: 16px; }
  /* Formulários */
  label { display: inline-block; padding-bottom: 5px; }
  label.radio, label.checkbox { display: inline-block; margin-right: 10px; }
  input, textarea { background: #FFF; border: 1px solid; border-color: #BBB #DDD #DDD #BBB; padding: 8px 10px; width: 280px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition-property: all; -moz-transition-property: all; -ms-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.15s; -moz-transition-duration: 0.15s; -ms-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-delay: 0; -moz-transition-delay: 0; -ms-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
  input:not([type="submit"]), textarea:not([type="submit"]) { -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  input:not([type="submit"]):focus, textarea:not([type="submit"]):focus { background-color: #FDFDFD; border-color: #129FEA; outline: 0; }
  input[type="radio"], input[type="checkbox"] { background: none; border: none; padding: 0; width: auto; }
  [type="submit"], button { border: none; cursor: pointer; display: inline-block; overflow: visible; padding: 8px 15px 8px; width: auto; -webkit-appearance: none; }
  textarea { min-height: 100px; min-width: 200px; }
  select { min-width: 298px; }
  fieldset { border: 0; padding: 0; margin: 50px 0 0; }
  fieldset legend { border-bottom: 1px solid #EEE; display: block; width: 100%; font-size: 18px; margin-bottom: 20px; }
  form .group { margin-top: 10px; width: 100%; clear: both; }
  form .actions { margin-top: 30px; }
  form.inline .group label { width: 140px; line-height: 35px; float: left; margin-right: 20px; text-align: right; }
  /* Wrappers */
  .select { background: #FFF; border: 1px solid #bbb; display: block; overflow: hidden; max-width: 300px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) , inset 0 1px 0 white; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) , inset 0 1px 0 white; -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) , inset 0 1px 0 white; -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) , inset 0 1px 0 white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) , inset 0 1px 0 white; }
  .select:before { background: #fcfcfc; border-left: 1px solid #bbb; content: ''; display: block; height: 30px; position: absolute; right: 0; z-index: 1; width: 28px; }
  .select:hover:before { background: #EEE; }
  .select:after { border-bottom: none; border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); border-top: 4px solid #333; content: ''; display: block; height: 0; position: absolute; right: 10px; top: 13px; width: 0; z-index: 2; }
  .select select { background: transparent; position: relative; border: 0 !important; height: 30px; line-height: 15px; padding: 0 40px 0 10px; width: 100%; z-index: 3; appearance: none; -webkit-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
  /* Botões */
  .button, a.button { display: inline-block; margin: 0 2px 0 0; line-height: 38px; padding: 0 15px; }
  .button, a.button, button, [type="submit"] { background: #888; border-bottom: 2px solid rgba(0, 0, 0, 0.2); cursor: pointer; color: #FFF; font-weight: normal; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition-property: all; -moz-transition-property: all; -ms-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.15s; -moz-transition-duration: 0.15s; -ms-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-delay: 0; -moz-transition-delay: 0; -ms-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
  .button.small, a.button.small, button.small, [type="submit"].small { padding: 0 8px !important; line-height: 28px !important; }
  .button.ssmall, a.button.ssmall, button.ssmall, [type="submit"].ssmall { padding: 0 5px !important; line-height: 25px !important; }
  .button.green, a.button.green, button.green, [type="submit"].green { background-color: #1e8512; }
  .button.red, a.button.red, button.red, [type="submit"].red { background-color: #C32727; }
  .button.yellow, a.button.yellow, button.yellow, [type="submit"].yellow { background-color: #EFC20E; }
  .button.blue, a.button.blue, button.blue, [type="submit"].blue { background-color: #1478e7; }
  .button:hover, a.button:hover, button:hover, [type="submit"]:hover { border-bottom: 2px solid rgba(0, 0, 0, 0.4); }
  .button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type="submit"]:focus, [type="submit"]:active { -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); -ms-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); -o-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25); }
  .buttons button, .buttons .button { margin: 0; float: left; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
  .buttons button:first-child, .buttons .button:first-child { -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
  .buttons button:last-child, .buttons .button:last-child { -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
  /* Tabelas */
  table { width: 100%; margin-bottom: 20px; }
  table td, table th { border: none; padding: 5px 15px; }
  table th { text-align: left; }
  table th:first-child { margin-left: -1px; }
  table th:last-child { margin-right: -1px; }
  table.bordered td, table.bordered th { border: 1px solid #EEE; }
  table.striped { border-left: 1px solid #EEE; border-right: 1px solid #EEE; }
  table.striped tr:nth-child(odd) { background-color: #F9F9F9; }
  table.striped td, table.striped th { border-right: 0; border-left: 0; }
  table.hover tr:hover { background-color: #F5F5F5; }
  table.padded td, table.padded th { padding-top: 10px; padding-bottom: 10px; }
  /* Alertas */
  .alert { background: #EDEDED; border-bottom: 1px solid #C0C0C0; color: #333; display: block; margin: 5px 0; padding: 10px 15px; position: relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
  .alert .close { position: absolute; right: 7px; top: 8px; cursor: pointer; }
  .alert.green, .alert.success { background-color: #E9F9E5; border-color: #9BDEA8; color: #1C8400; }
  .alert.red, .alert.error { background-color: #F9E5E6; border-color: #DF8F8F; color: #C32727; }
  .alert.yellow, .alert.info { background-color: #FFF6BF; border-color: #EFC20E; }
  .alert.blue, .alert.notice { background-color: #DDEEFF; border-color: #85CAF3; color: #0055B5; }
  /* Labels */
  .label { background: #DDD; color: #444; display: inline-block; line-height: 22px !important; margin-right: 2px; margin-bottom: 2px; padding: 0 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
  .label.green { background-color: #1e8512; color: #FFF; }
  .label.red { background-color: #C32727; color: #FFF; }
  .label.yellow { background-color: #FFF6BF; border-color: #EFC20E; }
  .label.orange { background-color: #f79306; color: #FFF; }
  .label.blue { background-color: #1478e7; color: #FFF; }
  .label.bordered { background: #FFF; border: 1px solid #CCC; color: #444; }
  label .label { cursor: pointer; }
  /* Nav */
  .nav { list-style: none; margin: 0; padding: 0; }
  .nav ul { margin: 0; padding: 0; }
  .nav li { display: block; float: left; }
  .nav li a { display: block; line-height: 65px; padding: 0 15px; outline: 0; }
  /* Tabs */
  .tabs { background: #F5F5F5; border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-top: -1px; margin-bottom: 0; padding: 0 20px; }
  .tabs ul { margin: 0; padding: 0; }
  .tabs li { border: 1px solid transparent; border-bottom: 0; display: block; float: left; }
  .tabs li.active { background: #FFF; border-color: rgba(0, 0, 0, 0.1); margin-top: 1px; margin-bottom: -1px; }
  .tabs li.active a { color: #343434; }
  .tabs a { color: #343434; margin-right: 2px; line-height: 45px; display: block; padding: 0 10px; outline: 0; }
  .tabs a:hover { color: #000; } }
/* Print */
@media print { @page { margin: 0.5cm; }
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  h2, h3 { page-break-after: avoid; } }
/* Styles */
@media screen { .center { max-width: 1400px; margin: 0 auto; display: block; padding: 0 20px; }
  #top { background: #FFF; border-bottom: 1px solid #EEE; display: block; position: fixed; top: 0; width: 100%; z-index: 10; }
  #top .brand { float: left; margin-right: 20px; }
  #top .nav { float: left; }
  #content { margin-top: 80px; } }
/* Media-queries */
