/* Normalize.CSS | MIT License | github.com/necolas/normalize.css */
@media all { article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
  audio, video, canvas { display: inline-block; }
  summary { display: list-item; }
  audio:not([controls]) { display: none; height: 0; }
  [hidden], template { display: none; }
  progress { display: inline-block; vertical-align: baseline; }
  html { font-family: sans-serif; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
  body, figure { margin: 0; }
  h1 { font-size: 2em; margin: .67em 0; }
  a { background-color: transparent; -webkit-text-decoration-skip: objects; }
  a:focus { outline: thin dotted; }
  a:active, a:hover { outline: 0; }
  b, strong { font-weight: 700; }
  dfn { font-style: italic; }
  q { quotes: \201C \201D \2018 \2019; }
  abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
  small { font-size: 80%; }
  sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
  sup { top: -0.5em; }
  sub { bottom: -0.25em; }
  hr { background: transparent; border: 0; border-top: 1px solid #EEE; box-sizing: content-box; height: 0; overflow: visible; }
  mark { background: #ff0; color: #000; }
  code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
  table { border-collapse: collapse; border-spacing: 0; }
  pre { white-space: pre-wrap; }
  img { border: 0; -ms-interpolation-mode: bicubic; }
  img, table { height: auto; max-width: 100%; }
  svg:not(:root) { overflow: hidden; }
  fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }
  button, input, select, textarea { font-family: inherit; font-size: 100%; line-height: normal; margin: 0; }
  button, input { line-height: normal; overflow: visible; }
  button, select { text-transform: none; }
  button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; }
  input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }
  input[type=search] { box-sizing: content-box; outline-offset: -2px; -webkit-appearance: textfield; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height: auto; }
  input::-webkit-file-upload-button { font: inherit; -webkit-appearance: button; }
  legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
  pre, blockquote, textarea { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
  textarea { line-height: inherit; overflow: auto; vertical-align: top; } }
/* All */
@media all { /* Helpers */
  *, *:before, *:after { box-sizing: border-box; }
  .clear { clear: both; display: block; height: 0px; overflow: hidden; }
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }
  .hide { display: none; }
  .block { display: block; }
  .inline { display: inline-block; vertical-align: top; }
  .overflow { overflow: auto; }
  .flex { align-content: flex-start; display: flex; flex-flow: row wrap; }
  .fluid { width: 100%; max-width: 100%; }
  .first { margin-left: 0; }
  .last { margin-right: 0; }
  .nothing { margin-left: 0; margin-right: 0; }
  .float.left { float: left; }
  .float.right { float: right; }
  .align.left { text-align: left; }
  .align.right { text-align: right; }
  .align.center { text-align: center; }
  .align.justify { text-align: justify; }
  img.align.left, img.align-left, img.alignleft, img[align=left] { display: inline; float: left; margin-right: 15px; }
  img.align.right, img.align-right, img.alignright, img[align=right] { display: inline; float: right; margin-left: 15px; }
  img.align.center, img.align-center, img.aligncenter, img[align=center] { clear: both; display: block; margin-right: auto; margin-left: auto; }
  /* Typography */
  body { line-height: 1.6em; font-size: 14px; }
  h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 120%; }
  a, a:link { color: #3151A2; text-decoration: none; }
  a:hover, a:visited { color: #3151A2; }
  a img { border: none; display: block; }
  .text.red, .text.red a { color: #b60105; }
  .text.orange, .text.orange a { color: #ec983e; }
  .text.green, .text.green a { color: #00852A; }
  .text.blue, .text.blue a { color: #005ABB; }
  .text.alt, .text.alt a { color: #AAA; }
  .text.gray, .text.gray a { color: #777; }
  .text.black, .text.black a { color: #333; }
  .text.small { font-size: 80%; }
  .text.big { font-size: 120%; }
  /* Forms */
  label { display: inline-block; padding-bottom: 5px; vertical-align: top; }
  label.radio, label.checkbox { cursor: pointer; display: inline-block; margin-right: 10px; }
  input, textarea { background: #FFF; border: 1px solid; border-color: #BBB #DDD #DDD #BBB; border-radius: 2px; padding: 8px 10px; transition: all 0.15s ease-out; }
  input:not([type="submit"]), textarea:not([type="submit"]) { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  input:not([type="submit"]):focus, textarea:not([type="submit"]):focus { background-color: #FDFDFD; border-color: #129FEA; outline: 0; }
  input[type="radio"], input[type="checkbox"] { background: none; border: none; height: auto; padding: 0; width: auto; }
  textarea { min-height: 100px; }
  [type="submit"], button { border: none; cursor: pointer; display: inline-block; font-weight: normal; overflow: visible; vertical-align: top; width: auto; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
  fieldset { border: 0; padding: 0; margin: 50px 0 0; }
  fieldset legend { border-bottom: 1px solid #EEE; display: block; width: 100%; font-size: 140%; margin-bottom: 20px; }
  /* Wrappers */
  .select { background: #FFF; border: 1px solid #bbb; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), inset 0 1px 0 #FFF; cursor: pointer; display: inline-block; overflow: hidden; position: relative; }
  .select:before { background: #fcfcfc; border-left: 1px solid rgba(0, 0, 0, 0.1); content: ''; display: block; top: 0; bottom: 0; position: absolute; right: 0; z-index: 5; width: 28px; }
  .select:hover:before { background: #EEE; }
  .select.error:before { background: transparent; }
  .select:after { border: 4px solid transparent; border-top-color: #333; content: ''; display: block; height: 0; margin-top: -2px; position: absolute; right: 10px; top: 50%; width: 0; z-index: 12; }
  .select select { background: transparent; border: 0 !important; border-radius: 0; cursor: pointer; height: 34px; margin: 0 auto; min-width: 50px; outline: none; padding: 7px 40px 7px 10px; position: relative; text-indent: 0.01px; text-overflow: ""; vertical-align: middle; width: 100%; z-index: 5; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
  .select select:focus { outline: none; }
  .select select::-ms-expand { display: none; }
  .select.nostyle { border: 0; box-shadow: none; display: inline-block; font-weight: bold; vertical-align: middle; min-width: 5px; width: auto; }
  .select.nostyle:before, .select.nostyle:after { display: none !important; }
  .select.nostyle select { height: auto; padding: 0 2px; min-width: 5px; width: auto; }
  /* Buttons */
  .button, a.button, button, [type=submit] { border: 1px solid rgba(0, 0, 0, 0); background: #888; border-radius: 2px; cursor: pointer; color: #FFF; display: inline-block; font-weight: normal; height: 34px; line-height: 32px; margin: 0 2px 0 0; padding: 0 15px; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); transition: all 0.15s ease-out; vertical-align: top; }
  .button:hover, .button:visited, .button:link, a.button:hover, a.button:visited, a.button:link, button:hover, button:visited, button:link, [type=submit]:hover, [type=submit]:visited, [type=submit]:link { color: #FFF; }
  .button:hover, .button:focus, a.button:hover, a.button:focus, button:hover, button:focus, [type=submit]:hover, [type=submit]:focus { border-color: rgba(0, 0, 0, 0.15); }
  .button.small, a.button.small, button.small, [type=submit].small { padding: 0 8px; line-height: 28px; height: 28px; }
  .button.ssmall, a.button.ssmall, button.ssmall, [type=submit].ssmall { padding: 0 5px; line-height: 25px; height: 25px; }
  .button.big, a.button.big, button.big, [type=submit].big { padding: 0 15px; line-height: 45px; height: 45px; font-size: 120%; }
  .button.sbig, a.button.sbig, button.sbig, [type=submit].sbig { padding: 0 25px; line-height: 60px; height: 60px; font-size: 160%; }
  .button.no-border, a.button.no-border, button.no-border, [type=submit].no-border { border: 0; }
  .button.green, a.button.green, button.green, [type=submit].green { background-color: #1e8512; }
  .button.red, a.button.red, button.red, [type=submit].red { background-color: #C32727; }
  .button.orange, a.button.orange, button.orange, [type=submit].orange { background-color: #FF7034; }
  .button.yellow, a.button.yellow, button.yellow, [type=submit].yellow { background-color: #EFC20E; }
  .button.blue, a.button.blue, button.blue, [type=submit].blue { background-color: #1478e7; }
  .button.black, a.button.black, button.black, [type=submit].black { background-color: #000; }
  .button.white, a.button.white, button.white, [type=submit].white { background-color: #FAFAFA; border-color: rgba(0, 0, 0, 0.15); color: #777; text-shadow: none; }
  .button.white:hover, .button.white:visited, .button.white:link, a.button.white:hover, a.button.white:visited, a.button.white:link, button.white:hover, button.white:visited, button.white:link, [type=submit].white:hover, [type=submit].white:visited, [type=submit].white:link { color: #777; }
  .button.white:hover, .button.white:focus, a.button.white:hover, a.button.white:focus, button.white:hover, button.white:focus, [type=submit].white:hover, [type=submit].white:focus { border-color: rgba(0, 0, 0, 0.2); }
  .buttons button, .buttons .button { border-radius: 0; margin: 0; float: left; }
  .buttons button:first-child, .buttons .button:first-child { border-radius: 2px 0 0 2px; }
  .buttons button:last-child, .buttons .button:last-child { border-radius: 0 2px 2px 0; }
  /* Validation */
  input.error, textarea.error, select.error, .select.error { background-color: #ffcfcf; border-color: #d7162b; }
  input.error:focus, textarea.error:focus, select.error:focus, .select.error:focus { background-color: #fdeaed; border-color: #d7162b; }
  /* Tables */
  table { width: 100%; margin-bottom: 20px; }
  table td, table th { border: none; padding: 5px 15px; }
  table th { text-align: left; }
  table th:first-child { margin-left: -1px; }
  table th:last-child { margin-right: -1px; }
  table.bordered td, table.bordered th { border: 1px solid #EEE; }
  table.striped { border-left: 1px solid #EEE; border-right: 1px solid #EEE; }
  table.striped tr:nth-child(odd) { background-color: #F9F9F9; }
  table.striped td, table.striped th { border-right: 0; border-left: 0; }
  table.hover tr:hover { background-color: #F5F5F5; }
  table.padded td, table.padded th { padding-top: 10px; padding-bottom: 10px; } }
/* Screen */
@media screen { /* Grid */
  .centered { max-width: 1400px; margin: 0 auto; display: block; padding: 0 20px; }
  /* Heading */
  .heading { font-size: 140%; line-height: 140%; padding: 20px 0; }
  .heading h2, .heading h3, .heading p { margin-top: 0; }
  .heading h2 { font-size: 180%; font-weight: normal; line-height: 130%; }
  .heading .button { font-size: 100%; }
  /* Lists */
  .list { list-style: none; margin: 30px 0; padding: 0; }
  .list-blocks li { margin-bottom: 20px; }
  .list-blocks img { float: left; overflow: hidden; margin-right: 20px; }
  .list-blocks h3 { padding-top: 0; margin-top: 0; }
  /* Tabs */
  .tabs { border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-top: -1px; margin-bottom: 0; padding: 0 20px; }
  .tabs ul { margin: 0; padding: 0; }
  .tabs li { border: 1px solid transparent; border-bottom: 0; display: block; float: left; }
  .tabs li.active { background: #FFF; border-color: rgba(0, 0, 0, 0.1); margin-top: 1px; margin-bottom: -1px; }
  .tabs li.active a { color: #343434; }
  .tabs a { color: #343434; margin-right: 2px; line-height: 45px; display: block; padding: 0 10px; outline: 0; }
  .tabs a:hover { color: #000; }
  /* Alerts */
  .alert { background: #EDEDED; border: 1px solid #C0C0C0; border-radius: 2px; color: #333; display: block; margin: 5px 0; padding: 10px 15px 10px 15px; position: relative; }
  .alert.close { padding-right: 25px; }
  .alert .close { cursor: pointer; font-size: 110%; font-weight: bold; position: absolute; right: 7px; top: 8px; }
  .alert.green, .alert.success { background-color: #E9F9E5; border-color: #9BDEA8; color: #1C8400; }
  .alert.red, .alert.error { background-color: #F9E5E6; border-color: #DF8F8F; color: #C32727; }
  .alert.yellow, .alert.info { background-color: #FFF6BF; border-color: #EFC20E; }
  .alert.blue, .alert.notice { background-color: #DDEEFF; border-color: #85CAF3; color: #0055B5; }
  .alert.white, .alert.simple { background-color: #FCFCFC; border-color: #CCC; color: #666; }
  .alert h3, .alert h4 { font-weight: bold; margin: 0; padding: 0; }
  /* Alerts Fixed */
  .alerts.fixed { bottom: 0; display: block; max-width: 500px; position: fixed; right: 5px; z-index: 9999; }
  .alerts.fixed .alert { cursor: pointer; }
  /* Labels */
  .label { background: #DDD; border-radius: 3px; color: #444; display: inline-block; line-height: 22px !important; margin-right: 2px; margin-bottom: 2px; padding: 0 4px; vertical-align: top; }
  .label.green { background-color: #1e8512; color: #FFF; }
  .label.red { background-color: #C32727; color: #FFF; }
  .label.yellow { background-color: #FFF6BF; border-color: #EFC20E; }
  .label.orange { background-color: #f79306; color: #FFF; }
  .label.blue { background-color: #1478e7; color: #FFF; }
  .label.black { background-color: #000; color: #FFF; }
  .label.bordered { background: #FFF; border: 1px solid #CCC; color: #444; }
  label .label { cursor: pointer; }
  /* Pagination */
  .pagination { margin-top: 40px; margin-bottom: 40px; text-align: center; }
  .pagination a { background: #FAFAFA; border: 1px solid #DFDFDF; display: inline-block; line-height: 36px; margin-bottom: 5px; margin-right: -1px; padding: 0 20px; }
  .pagination a.disabled { background: #FFF; color: #AAA; cursor: default; }
  .pagination a.dots { padding: 0 10px; }
  .pagination a:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
  .pagination a:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
  /* Modal */
  body.modal-open { overflow: hidden; }
  .modal-backdrop { background-color: #000000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 1040; }
  .modal-backdrop.fade { opacity: 0; -webkit-transition: opacity 0.15s linear; -moz-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }
  .modal-backdrop, .modal-backdrop.fade.in { opacity: 0.3; filter: alpha(opacity=30); }
  .modal { bottom: 0; left: 0; position: fixed; right: 0; top: 0; outline: none; overflow-y: scroll; overflow-x: hidden; z-index: 1050; }
  .modal.fade { -webkit-transition: opacity .15s linear, top .15s ease-out; -moz-transition: opacity .15s linear, top .15s ease-out; -o-transition: opacity .15s linear, top .15s ease-out; transition: opacity .15s linear, top .15s ease-out; top: -100%; }
  .modal.fade.in { top: 0px; }
  .modal .container { margin: 20px auto; max-width: 560px; outline: none; }
  .modal .container-inside { background-color: #ffffff; border-radius: 3px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); margin: 0 5px; position: relative; }
  .modal.small .container { max-width: 335px; }
  .modal.big .container { max-width: 600px; }
  .modal .header { background-color: #f9f9f9; border-bottom: 1px solid #ddd; padding: 15px; position: relative; border-radius: 3px 3px 0 0; }
  .modal .header h3 { margin: 0; }
  .modal .body { padding: 15px; position: relative; }
  .modal .footer { background-color: #f9f9f9; border-top: 1px solid #ddd; border-radius: 0 0 3px 3px; box-shadow: inset 0 1px 0 #FFF; padding: 15px; text-align: right; *zoom: 1; }
  .modal .footer:before, .modal .footer:after { display: table; content: ""; line-height: 0; }
  .modal .footer:after { clear: both; }
  /* Boxes */
  .box { border: 1px solid #EEE; border-bottom-width: 3px; border-radius: 5px; display: inline-block; padding: 10px; margin: 0 15px 15px 0; vertical-align: top; width: 200px; }
  .box h3 { margin-bottom: 5px; }
  .box p { margin-top: 0; }
  .box .button { text-align: center; font-weight: bold; } }
/* Framework - Media-queries */
@media screen and (min-width: 841px) { .hide-desktop { display: none; } }
@media screen and (max-width: 840px) { .hide-tablet { display: none; } }
@media screen and (max-width: 540px) { .hide-phone { display: none; }
  .centered { padding: 0 15px; }
  /* Heading */
  .heading { font-size: 120%; }
  .heading h2 { font-size: 160%; font-weight: normal; } }
/* Print */
@media print { @page { margin: 0.5cm; }
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  h2, h3 { page-break-after: avoid; }
  .hide-print { display: none !important; } }
/* Styles */
/* Media-queries */

/*# sourceMappingURL=styles.css.map */
