@charset "UTF-8";

/* Pagination */
@media screen{

    .pagination{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        text-align: center;

        a{
            background: var(--alpha-05);
            border: 1px solid var(--alpha-05);
            display: inline-block;
            line-height: 2em;
            margin-bottom: 0.625em;
            margin-right: -1px;
            padding: 0 1.25em;
        }
        a.disabled{
            background: var(--light);
            color: var(--alpha-30);
            cursor: default;
        }
        a.dots{
            padding: 0 0.625em;
        }
        a:first-child{
            border-top-left-radius: 0.125em;
            border-bottom-left-radius: 0.125em;
        }
        a:last-child{
            border-top-right-radius: 0.125em;
            border-bottom-right-radius: 0.125em;
        }
        a:hover{
            text-decoration: none;
        }

    }

}
