@charset "UTF-8";

/* Carousel */
@media screen{

    .carousel{
        position: relative;
        overflow: hidden;

        .scroll{
            margin-bottom: -20px;
            overflow: scroll;
            overflow-y: hidden;
            scroll-behavior: smooth;
            padding-bottom: 20px;
            width: 100%;
        }

        .prev,
        .next{
            cursor: pointer;
            display: block;
            position: absolute;
            top: 65%;
            width: 30px;
            height: 30px;
            text-align: center;
            margin-top: -15px;
            padding: 5px 0;
            z-index: 10;
        }
        .next{
            right: -5px;
        }
        .prev{
            left: -5px;
        }

    }

}