@charset "UTF-8";

/* All */
@media all{

	/* Helpers */
	*, *:before, *:after {
		box-sizing: border-box;
	}

	.clear {
		clear: both;
		display: block;
		height: 0px;
		overflow: hidden;
	}

	.clearfix:before, .clearfix:after {
		content: "";
		display: table;
	}
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

	.hide { display: none }
	.block { display: block }
	.inline { display: inline-block; vertical-align: top; }
	.overflow { overflow: auto; }

	.flex {
		align-content: flex-start;
		display: flex;
		flex-flow: row wrap;
	}
	.fluid {
		width: 100%;
		max-width: 100%;
	}

	.first {
		margin-left: 0;
	}
	.last {
		margin-right: 0;
	}
	.nothing {
		margin-left: 0;
		margin-right: 0;
	}

	.float {
		&.left { float: left; }
		&.right { float: right; }
	}

	.align{
		&.left { text-align: left; }
		&.right { text-align: right; }
		&.center { text-align: center; }
		&.justify { text-align: justify; }
	}

	img.align.left, 
	img.align-left, 
	img.alignleft, 
	img[align=left]{
		display: inline;
		float: left;
		margin-right: 15px;
	}
	img.align.right, 
	img.align-right, 
	img.alignright, 
	img[align=right]{
		display: inline;
		float: right;
		margin-left: 15px;
	}
	img.align.center, 
	img.align-center, 
	img.aligncenter, 
	img[align=center]{
		clear: both;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	/* Typography */
	body {
		line-height: 1.6em;
		font-size: 14px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		line-height: 120%;
	}
	a, a:link {
		color: #3151A2;
		text-decoration: none;
	}
	a:hover, a:visited {
		color: #3151A2;
	}
	a img {
		border: none;
		display: block;
	}

	.text {
		&.red, &.red a { color: #b60105; }
		&.orange, &.orange a { color: #ec983e; }
		&.green, &.green a { color: #00852A; }
		&.blue, &.blue a { color: #005ABB; }
		&.alt, &.alt a { color: #AAA; }
		&.gray, &.gray a { color: #777; }
		&.black, &.black a {color: #333; }

		&.small {
			font-size: 80%;
		}
		&.big {
			font-size: 120%;
		}
	}

	/* Forms */
	label {
		display: inline-block;
		padding-bottom: 5px;
		vertical-align: top;

		&.radio, &.checkbox {
			cursor: pointer;
			display: inline-block;
			margin-right: 10px;
		}
	}

	input, textarea {
		background: #FFF;
		border: 1px solid;
		border-color: #BBB #DDD #DDD #BBB;
		border-radius: 2px;
		padding: 8px 10px;
		transition: all 0.15s ease-out;

		&:not([type="submit"]){
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

			&:focus{
				background-color: #FDFDFD;
				border-color: #129FEA;
				outline: 0;
			}
		}

	}
	input{
		&[type="radio"],
		&[type="checkbox"]{
			background: none;
			border: none;
			height: auto;
			padding: 0;
			width: auto;
		}
	}
	textarea{
		min-height: 100px;
	}

	[type="submit"],
	button{
		border: none;
		cursor: pointer;
		display: inline-block;
		font-weight: normal;
		overflow: visible;
		vertical-align: top;
		width: auto;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	fieldset{
		border: 0;
		padding: 0;
		margin: 50px 0 0;

		legend{
			border-bottom: 1px solid #EEE;
			display: block;
			width: 100%;
			font-size: 140%;
			margin-bottom: 20px;
		}
	}

	/* Wrappers */
	.select{
		background: #FFF;
		border: 1px solid #bbb;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,.05), inset 0 1px 0 #FFF;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		position: relative;

		&:before{
			background: #fcfcfc;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			content: '';
			display: block;
			top: 0;
			bottom: 0;
			position: absolute;
			right: 0;
			z-index: 5;
			width: 28px;
		}
		&:hover:before{
			background: #EEE;
		}
		&.error:before{
			background: transparent;
		}

		&:after{
			border: 4px solid transparent;
			border-top-color: #333;
			content: '';
			display: block;
			height: 0;
			margin-top: -2px;
			position: absolute;
			right: 10px;
			top: 50%;
			width: 0;
			z-index: 12;
		}

		select{
			background: transparent;
			border: 0 !important;
			border-radius: 0;
			cursor: pointer;
			height: 34px;
			margin: 0 auto;
			min-width: 50px;
			outline: none;
			padding: 7px 40px 7px 10px;
			position: relative;
			text-indent: 0.01px;
			text-overflow: "";
			vertical-align: middle;
			width: 100%;
			z-index: 5;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			
			&:focus {
				outline: none;
			}

			&::-ms-expand {
				display: none;
			}
		}

		&.nostyle{
			border: 0;
			box-shadow: none;
			display: inline-block;
			font-weight: bold;
			vertical-align: middle;
			min-width: 5px;
			width: auto;

			&:before, &:after{
				display: none !important;
			}

			select{
				height: auto;
				padding: 0 2px;
				min-width: 5px;
				width: auto;
			}
		}

	}

	/* Buttons */
	.button, a.button,
	button, [type=submit]{
		border: 1px solid rgba(0, 0, 0, 0);
		background: #888;
		border-radius: 2px;
		cursor: pointer;
		color: #FFF;
		display: inline-block;
		font-weight: normal;
		height: 34px;
		line-height: 32px;
		margin: 0 2px 0 0;
		padding: 0 15px;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
		transition: all 0.15s ease-out;
		vertical-align: top;

		&:hover, &:visited, &:link{
			color: #FFF;
		}
		&:hover, &:focus{
			border-color: rgba(0, 0, 0, 0.15);
		}

		&.small{
			padding: 0 8px;
			line-height: 28px;
			height: 28px;
		}
		&.ssmall{
			padding: 0 5px;
			line-height: 25px;
			height: 25px;
		}
		&.big{
			padding: 0 15px;
			line-height: 45px;
			height: 45px;
			font-size: 120%;
		}
		&.sbig{
			padding: 0 25px;
			line-height: 60px;
			height: 60px;
			font-size: 160%;
		}
		&.no-border{
			border: 0;
		}

		&.green{
			background-color: #1e8512;
		}
		&.red{
			background-color: #C32727;
		}
		&.orange{
			background-color: #FF7034;
		}
		&.yellow{
			background-color: #EFC20E;
		}
		&.blue{
			background-color: #1478e7;
		}
		&.black{
			background-color: #000;
		}
		&.white{
			background-color: #FAFAFA;
			border-color: rgba(0, 0, 0, 0.15);
			color: #777;
			text-shadow: none;

			&:hover, &:visited, &:link{
				color: #777;
			}
			&:hover, &:focus{
				border-color: rgba(0, 0, 0, 0.20);
			}
		}

	}

	.buttons{
		button, .button{
			border-radius: 0;
			margin: 0;
			float: left;

			&:first-child{
				border-radius: 2px 0 0 2px;
			}
			&:last-child{
				border-radius: 0 2px 2px 0;
			}
		}
	}

	/* Validation */
	input, textarea, select, .select{

		&.error{
			background-color: #ffcfcf;
			border-color: #d7162b;

			&:focus{
				background-color: #fdeaed;
				border-color: #d7162b;
			}
		}

	}

	/* Tables */
	table{
		width: 100%;
		margin-bottom: 20px;

		td, th{
			border: none;
			padding: 5px 15px;
		}
		th{
			text-align: left;

			&:first-child{
				margin-left: -1px;
			}
			&:last-child{
				margin-right: -1px;
			}
		}

		&.bordered{
			td, th{
				border: 1px solid #EEE;
			}
		}

		&.striped{
			border-left: 1px solid #EEE;
			border-right: 1px solid #EEE;

			tr:nth-child(odd){
				background-color: #F9F9F9;
			}
			td, th{
				border-right: 0;
				border-left: 0;
			}
		}

		&.hover tr:hover{
			background-color: #F5F5F5;
		}

		&.padded{
			td, th{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

	}

}

/* Screen */
@media screen{

	/* Grid */
	.centered{
		max-width: 1400px;
		margin: 0 auto;
		display: block;
		padding: 0 20px;
	}

	/* Heading */
	.heading{
		font-size: 140%;
		line-height: 140%;
		padding: 20px 0;

		h2, h3, p{
			margin-top: 0;
		}

		h2{
			font-size: 180%;
			font-weight: normal;
			line-height: 130%;
		}

		.button{
			font-size: 100%;
		}

	}

	/* Lists */
	.list{
		list-style: none;
		margin: 30px 0;
		padding: 0;
	}

	.list-blocks{

		li{
			margin-bottom: 20px;
		}

		img{
			float: left;
			overflow: hidden;
			margin-right: 20px;
		}

		h3{
			padding-top: 0;
			margin-top: 0;
		}

	}

	/* Tabs */
	.tabs{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: -1px;
		margin-bottom: 0;
		padding: 0 20px;

		ul{
			margin: 0;
			padding: 0;
		}

		li{
			border: 1px solid transparent;
			border-bottom: 0;
			display: block;
			float: left;

			&.active{
				background: #FFF;
				border-color: rgba(0, 0, 0, 0.1);
				margin-top: 1px;
				margin-bottom: -1px;
				a{
					color: #343434;
				}
			}
		}

		a{
			color: #343434;
			margin-right: 2px;
			line-height: 45px;
			display: block;
			padding: 0 10px;
			outline: 0;

			&:hover{
				color: #000;
			}
		}

	}

	/* Alerts */
	.alert{
		background: #EDEDED;
		border: 1px solid #C0C0C0;
		border-radius: 2px;
		color: #333;
		display: block;
		margin: 5px 0;
		padding: 10px 15px 10px 15px;
		position: relative;

		&.close{
			padding-right: 25px;
		}

		.close{
			cursor: pointer;
			font-size: 110%;
			font-weight: bold;
			position: absolute;
			right: 7px;
			top: 8px;
		}

		&.green, &.success{
			background-color: #E9F9E5;
			border-color: #9BDEA8;
			color: #1C8400;
		}
		&.red, &.error{
			background-color: #F9E5E6;
			border-color: #DF8F8F;
			color: #C32727;
		}
		&.yellow, &.info{
			background-color: #FFF6BF;
			border-color: #EFC20E;
		}
		&.blue, &.notice{
			background-color: #DDEEFF;
			border-color: #85CAF3;
			color: #0055B5;
		}
		&.white, &.simple{
			background-color: #FCFCFC;
			border-color: #CCC;
			color: #666;
		}

		h3, h4{
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}

	/* Alerts Fixed */
	.alerts.fixed{
		bottom: 0;
		display: block;
		max-width: 500px;
		position: fixed;
		right: 5px;
		z-index: 9999;

		.alert{
			cursor: pointer;
		}
	}

	/* Labels */
	.label{
		background: #DDD;
		border-radius: 3px;
		color: #444;
		display: inline-block;
		line-height: 22px !important;
		margin-right: 2px;
		margin-bottom: 2px;
		padding: 0 4px;
		vertical-align: top;

		&.green{
			background-color: #1e8512;
			color: #FFF;
		}
		&.red{
			background-color: #C32727;
			color: #FFF;
		}
		&.yellow{
			background-color: #FFF6BF;
			border-color: #EFC20E;
		}
		&.orange{
			background-color: #f79306;
			color: #FFF;
		}
		&.blue{
			background-color: #1478e7;
			color: #FFF;
		}
		&.black{
			background-color: #000;
			color: #FFF;
		}
		&.bordered{
			background: #FFF;
			border: 1px solid #CCC;
			color: #444;
		}

	}
	label .label{
		cursor: pointer;
	}

	/* Pagination */
	.pagination{
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;

		a{
			background: #FAFAFA;
			border: 1px solid #DFDFDF;
			display: inline-block;
			line-height: 36px;
			margin-bottom: 5px;
			margin-right: -1px;
			padding: 0 20px;
		}
		a.disabled{
			background: #FFF;
			color: #AAA;
			cursor: default;
		}
		a.dots{
			padding: 0 10px;
		}
		a:first-child{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		a:last-child{
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	/* Modal */
	body.modal-open{
		overflow: hidden;
	}

	.modal-backdrop{
		background-color: #000000;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1040;

		&.fade{
			opacity: 0;
			-webkit-transition: opacity 0.15s linear;
			-moz-transition: opacity 0.15s linear;
			-o-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
		}

		&, &.fade.in{
			opacity: 0.3;
			filter: alpha(opacity=30);
		}
	}

	.modal{
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		outline: none;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 1050;

		&.fade{
			-webkit-transition: opacity .15s linear, top .15s ease-out;
			-moz-transition: opacity .15s linear, top .15s ease-out;
			-o-transition: opacity .15s linear, top .15s ease-out;
			transition: opacity .15s linear, top .15s ease-out;
			top: -100%;
		}
		&.fade.in{
			top: 0px;
		}

		.container{
			margin: 20px auto;
			max-width: 560px;
			outline: none;
		}

		.container-inside{
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
			margin: 0 5px;
			position: relative;
		}

		&.small .container{
			max-width: 335px;
		}

		&.big .container{
			max-width: 600px;
		}

		.header{
			background-color: #f9f9f9;
			border-bottom: 1px solid #ddd;
			padding: 15px;
			position: relative;
			border-radius: 3px 3px 0 0;

			h3{
				margin: 0;
			}
		}

		.body{
			padding: 15px;
			position: relative;
		}

		.footer{
			background-color: #f9f9f9;
			border-top: 1px solid #ddd;
			border-radius: 0 0 3px 3px;
			box-shadow: inset 0 1px 0 #FFF;
			padding: 15px;
			text-align: right;
			*zoom: 1;

			&:before,
			&:after{
				display: table;
				content: "";
				line-height: 0;
			}
			&:after{
				clear: both;
			}
		}

	}

	/* Boxes */
	.box{
		border: 1px solid #EEE;
		border-bottom-width: 3px;
		border-radius: 5px;
		display: inline-block;
		padding: 10px;
		margin: 0 15px 15px 0;
		vertical-align: top;
		width: 200px;

		h3{
			margin-bottom: 5px;
		}
		p{
			margin-top: 0;
		}
		.button{
			text-align: center;
			font-weight: bold;
		}
	}

}

/* Framework - Media-queries */
@media screen and (min-width: 841px){

	.hide-desktop{
		display: none;
	}

}

@media screen and (max-width: 840px){

	.hide-tablet{
		display: none;
	}

}

@media screen and (max-width: 540px){

	.hide-phone{
		display: none;
	}

	.centered{
		padding: 0 15px;
	}

	/* Heading */
	.heading{
		font-size: 120%;

		h2{
			font-size: 160%;
			font-weight: normal;
		}

	}

}

/* Print */
@media print{

	@page {
		margin: 0.5cm;
	}
	* {
		background: transparent !important;
		color: #444 !important;
		text-shadow: none !important;
	}
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	h2, h3 {
		page-break-after: avoid;
	}

	.hide-print{
		display: none !important;
	}

}