@charset "UTF-8";

/* Framework */
@media screen{

	$headerLineHeight: 55px;

	/* Grid */
	.centered{
		max-width: 1400px;
		margin: 0 auto;
		display: block;
		padding: 0 20px;
	}

	.col2{
		display: inline-block;
		float: left;
		vertical-align: top;
		width: 50%;
	}
	.col3{
		display: inline-block;
		float: left;
		vertical-align: top;
		width: 33.33%;
	}
	.col4{
		display: inline-block;
		float: left;
		vertical-align: top;
		width: 25%;
	}

	/* Toolbar */
	.toolbar{
		background: #FFF;
		border-bottom: 2px solid transparent;
		display: block;
		left: 0;
		min-height: 33px;
		padding: 5px 20px;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 100;

		&.toolbar-close{
			padding-right: 45px;
		}

		.toolbar-text{
			display: inline-block;
			font-size: 125%;
			line-height: 33px;
			margin-right: 20px;
		}

		.button-close{
			background: #000;
			border-radius: 3px;
			color: #FFF;
			cursor: pointer;
			display: block;
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			height: 20px;
			position: absolute;
			right: 12px;
			text-align: center;
			top: 12px;
			width: 20px;
		}

		p{
			margin: 0;
			padding: 0;
		}

	}

	/* Logo */
	.logo{
		float: left;
		line-height: $headerLineHeight;
		margin: 0 20px 0 0;
		padding: 0;
	}

	/* Navigation */
	.navigation{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		ul{
			margin: 0;
			padding: 0;
		}

		li{
			display: block;
			float: left;
			line-height: $headerLineHeight;
			position: relative;

			a{
				display: block;
				padding: 0 15px;
				outline: 0;
			}
			a.button{
				display: inline-block;
				vertical-align: middle;
			}

			> ul{
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 10;

				li{
					float: none;
					line-height: $headerLineHeight - 15;
				}
			}

			&:hover > ul{
				display: block;
			}

		}

		.navigation-icon{
			background: #000;
			border-radius: 1px;
			color: #FFF;
			display: none;
			cursor: pointer;
			padding: 2px 7px;
			position: absolute;
			right: 0px;
			top: 10px;
			z-index: 2;
			outline: none;

			&:active, &:focus{
				outline: none;
			}

			span{
				display: block;
				margin: 5px 0px 5px 0px;
				height: 3px;
				background: #FFF;
				width: 20px;
			}
		}
	}

	/* Heading */
	.heading{
		font-size: 22px;
		line-height: 130%;
		padding: 20px 0;

		h2, h3, p{
			margin-top: 0;
		}

		h2{
			font-size: 200%;
			font-weight: normal;
			line-height: 130%;
		}

	}

	/* Lists */
	.list{
		list-style: none;
		margin: 30px 0;
		padding: 0;
	}

	.list-blocks{

		li{
			margin-bottom: 20px;
		}

		img{
			float: left;
			overflow: hidden;
			margin-right: 20px;
		}

		h3{
			padding-top: 0;
			margin-top: 0;
		}

	}

	/* Tabs */
	.tabs{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: -1px;
		margin-bottom: 0;
		padding: 0 20px;

		ul{
			margin: 0;
			padding: 0;
		}

		li{
			border: 1px solid transparent;
			border-bottom: 0;
			display: block;
			float: left;

			&.active{
				background: #FFF;
				border-color: rgba(0, 0, 0, 0.1);
				margin-top: 1px;
				margin-bottom: -1px;
				a{
					color: #343434;
				}
			}
		}

		a{
			color: #343434;
			margin-right: 2px;
			line-height: 45px;
			display: block;
			padding: 0 10px;
			outline: 0;

			&:hover{
				color: #000;
			}
		}

	}

	/* Alerts */
	.alert{
		background: #EDEDED;
		border: 1px solid #C0C0C0;
		border-radius: 2px;
		color: #333;
		display: block;
		margin: 5px 0;
		padding: 10px 15px 10px 15px;
		position: relative;

		&.close{
			padding-right: 25px;
		}

		.close{
			cursor: pointer;
			font-size: 110%;
			font-weight: bold;
			position: absolute;
			right: 7px;
			top: 8px;
		}

		&.green, &.success{
			background-color: #E9F9E5;
			border-color: #9BDEA8;
			color: #1C8400;
		}
		&.red, &.error{
			background-color: #F9E5E6;
			border-color: #DF8F8F;
			color: #C32727;
		}
		&.yellow, &.info{
			background-color: #FFF6BF;
			border-color: #EFC20E;
		}
		&.blue, &.notice{
			background-color: #DDEEFF;
			border-color: #85CAF3;
			color: #0055B5;
		}

		h3, h4{
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}

	/* Alerts Fixed */
	.alerts.fixed{
		bottom: 0;
		display: block;
		max-width: 500px;
		position: fixed;
		right: 5px;
		z-index: 9999;

		.alert{
			cursor: pointer;
		}
	}

	/* Labels */
	.label{
		background: #DDD;
		border-radius: 3px;
		color: #444;
		display: inline-block;
		line-height: 22px !important;
		margin-right: 2px;
		margin-bottom: 2px;
		padding: 0 4px;
		vertical-align: top;

		&.green{
			background-color: #1e8512;
			color: #FFF;
		}
		&.red{
			background-color: #C32727;
			color: #FFF;
		}
		&.yellow{
			background-color: #FFF6BF;
			border-color: #EFC20E;
		}
		&.orange{
			background-color: #f79306;
			color: #FFF;
		}
		&.blue{
			background-color: #1478e7;
			color: #FFF;
		}
		&.bordered{
			background: #FFF;
			border: 1px solid #CCC;
			color: #444;
		}

	}
	label .label{
		cursor: pointer;
	}

	/* Pagination */
	.pagination{
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;

		a{
			background: #FAFAFA;
			border: 1px solid #DFDFDF;
			display: inline-block;
			line-height: 36px;
			margin-bottom: 5px;
			margin-right: -1px;
			padding: 0 20px;
		}
		a.disabled{
			background: #FFF;
			color: #AAA;
			cursor: default;
		}
		a.dots{
			padding: 0 10px;
		}
		a:first-child{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		a:last-child{
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	/* Modal */
	.modal-backdrop{
		background-color: #000000;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1040;

		&.fade{
			opacity: 0;
			-webkit-transition: opacity 0.15s linear;
			-moz-transition: opacity 0.15s linear;
			-o-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
		}

		&, &.fade.in{
			opacity: 0.3;
			filter: alpha(opacity=30);
		}
	}

	.modal{
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		outline: none;
		overflow-y: scroll;
		z-index: 1050;

		&.fade{
			-webkit-transition: opacity .15s linear, top .15s ease-out;
			-moz-transition: opacity .15s linear, top .15s ease-out;
			-o-transition: opacity .15s linear, top .15s ease-out;
			transition: opacity .15s linear, top .15s ease-out;
			top: -50%;
		}
		&.fade.in{
			top: 0px;
		}

		.container{
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
			margin: 20px auto;
			max-width: 560px;
			outline: none;
			position: relative;
		}

		&.small .container{
			max-width: 335px;
		}

		&.big .container{
			max-width: 600px;
		}

		.header{
			background-color: #f9f9f9;
			border-bottom: 1px solid #ddd;
			padding: 15px;
			position: relative;
			border-radius: 3px 3px 0 0;

			h3{
				margin: 0;
			}
		}

		.body{
			padding: 15px;
			position: relative;
		}

		.footer{
			background-color: #f9f9f9;
			border-top: 1px solid #ddd;
			border-radius: 0 0 3px 3px;
			box-shadow: inset 0 1px 0 #FFF;
			padding: 15px;
			text-align: right;
			*zoom: 1;

			&:before,
			&:after{
				display: table;
				content: "";
				line-height: 0;
			}
			&:after{
				clear: both;
			}
		}

	}

	/* Upload */
	.upload{
		cursor: pointer;
		display: inline-block;
		position: relative;

		input {
			bottom: 0;
			cursor: pointer;
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			visibility: visible;
			width: 100%;
		}
	}

	.upload-area {
		border: 1px dotted #CCC;
		border-radius: 5px;
		background: #FAFAFA;
		display: block;
		// min-height: 100px;
		text-align: center;
		width: 100%;

		&.upload-drag-hover {
			background-color: #fdf5db;
		}

		.upload-text {
			color: #555;
			display: inline-block;
			font-size: 13px;
			padding: 6px;
			margin: 0 auto;
			text-align: center;
			vertical-align: middle;

			p{
				margin-top: 0;
			}
			strong {
				text-decoration: underline;
			}
		}

	}

	/* Boxes */
	.box{
		border: 1px solid #EEE;
		border-bottom-width: 3px;
		border-radius: 5px;
		display: inline-block;
		padding: 10px;
		margin: 0 15px 15px 0;
		vertical-align: top;
		width: 200px;

		h3{
			margin-bottom: 5px;
		}
		p{
			margin-top: 0;
		}
		.button{
			text-align: center;
			font-weight: bold;
		}
	}

}

/* Framework - Media-queries */
@media screen and (min-width: 841px){

	.hide-desktop{
		display: none;
	}

	/* Navigation */
	.navigation-responsive-active ul{
		display: block;

		ul{
			display: none;
		}
	}

}

@media screen and (max-width: 840px){

	.hide-tablet{
		display: none;
	}

	/* Navigation */
	.navigation-responsive{

		.navigation-icon{
			display: block;
		}

		ul{
			clear: both;
			display: none;
			float: none;

			li > ul{
				border-top: 1px solid rgba(0, 0, 0, 0.15);
				display: block;
				margin-bottom: -1px;
				position: relative;
			}
		}

		li{
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			float: none;
			position: relative;
			width: 100%;
		}

		&.navigation-responsive-active ul{
			display: block;
		}

	}

}

@media screen and (max-width: 540px){

	.hide-phone{
		display: none;
	}

	.centered{
		padding: 0 15px;
	}

	/* Logo */
	.logo{
		font-size: 1.4em;
	}

	/* Heading */
	.heading{
		font-size: 16px;

		h2{
			font-size: 170%;
			font-weight: normal;
		}

	}

}

/* Print */
@media print{

	.hide-print{
		display: none !important;
	}

}