@charset "UTF-8";

/* Modal */
@media screen{

    body.modal-open{
        overflow: hidden;
    }

    .modal{
        align-items: center;
        bottom: 0;
        justify-content: center;
        left: 0;
        outline: none;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;
        position: fixed;
        right: 0;
        top: -100%;
        transition: opacity .15s linear, top .15s ease-out;
        z-index: 200;

        &.hidden{
            display: none;
        }
        &.visible{
            display: flex;
        }
        &.in{
            opacity: 1;
            top: 0px;
        }

        .backdrop{
            background-color: #000000;
            bottom: 0;
            left: 0;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            transition: opacity 0.15s linear;
            z-index: 210;
        }
        &.hidden .backdrop{
            display: none;
        }
        &.visible .backdrop{
            display: block;
        }
        &.in .backdrop{
            opacity: 0.3;
        }

        .container{
            flex: 1;
            margin: 0 auto;
            max-width: 560px;
            max-height: 100%;
            outline: none;
            position: relative;
            z-index: 220;
        }
        &.small .container{
            max-width: 365px;
        }
        &.big .container{
            max-width: 600px;
        }

        .inside{
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
            margin: 20px 5px;
        }
        .close{
            cursor: pointer;
            font-size: 24px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            right: 10px;
            text-align: center;
            top: 30px;
            width: 30px;
            z-index: 230;
        }

        .header{
            background-color: #f9f9f9;
            border-bottom: 1px solid #ddd;
            height: auto;
            padding: 15px;
            padding-right: 40px;
            position: relative;
            border-radius: 3px 3px 0 0;
        }
        .header h3{
            margin: 0;
        }

        .body{
            padding: 15px;
            position: relative;
        }

        .footer{
            background-color: #f9f9f9;
            border-top: 1px solid #ddd;
            border-radius: 0 0 3px 3px;
            box-shadow: inset 0 1px 0 #FFF;
            padding: 15px;
            text-align: right;
            *zoom: 1;
        }
        .footer:before,
        .footer:after{
            display: table;
            content: "";
            line-height: 0;
        }
        .footer:after{
            clear: both;
        }

    }

}