@charset "UTF-8";
@import 'functions';
@import 'all';

/* ESTILOS */
/* ----------------------------------------- */
@media screen{

	.center{
		max-width: 1400px;
		margin: 0 auto;
		display: block;
		padding: 0 20px;
	}

	#top{
		background: #FFF;
		border-bottom: 1px solid #EEE;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		.brand{
			float: left;
			margin-right: 20px;
		}
		.nav{
			float: left;
		}
	}

	#content{
		margin-top: 80px;
	}

}

/* MEDIA-QUERIES */
/* ----------------------------------------- */
@media screen and (max-width: 768px){

}