@charset "UTF-8";

@media all {

    :root {
        --modal-backdrop-background: #000000;
        --modal-backdrop-opacity: 0.3;

        --modal-background: var(--light);
        --modal-border: 0 solid;
        --modal-border-color: transparent;
        --modal-index: 200;
        --modal-margin: 0.5em;
        --modal-padding: 1em;
        --modal-radius: 0.25em;
        --modal-shadow: 0 3px 7px var(--dark-20);

        --modal-header-background: var(--dark-05);
        --modal-header-border: 1px solid;
        --modal-header-border-color: var(--dark-10);

        --modal-footer-background: var(--light);
        --modal-footer-border: 1px solid;
        --modal-footer-border-color: var(--dark-10);

        --modal-big-size: 840px;
        --modal-medium-size: 560px;
        --modal-small-size: 320px;
    }

    .modal {
        align-items: center;
        bottom: 0;
        justify-content: center;
        left: 0;
        margin: var(--modal-margin);
        outline: none;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;
        position: fixed;
        right: 0;
        top: -100%;
        transition: opacity .15s linear, top .15s ease-out;
        z-index: var(--modal-index);

        // Hide scroll bar
        margin-right: calc(-20px + var(--modal-margin));
        padding-right: 20px;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.hidden {
            display: none;
        }
        &.visible {
            display: flex;
        }
        &.in {
            opacity: 1;
            top: 0px;
        }

        .backdrop {
            background-color: var(--modal-backdrop-background);
            bottom: 0;
            left: 0;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            transition: opacity 0.15s linear;
            z-index: calc(var(--modal-index) + 1);
        }
        &.hidden .backdrop {
            display: none;
        }
        &.visible .backdrop {
            display: block;
        }
        &.in .backdrop {
            opacity: var(--modal-backdrop-opacity);
        }

        .container {
            border-radius: var(--modal-radius);
            flex: 1;
            margin: 0 auto;
            max-height: 100%;
            max-width: var(--modal-medium-size);
            outline: none;
            position: relative;
            z-index: calc(var(--modal-index) + 2);
        }
        &.small .container {
            max-width: var(--modal-small-size);
        }
        &.big .container {
            max-width: var(--modal-big-size);
        }

        .inside {
            background: var(--modal-background);
            border: var(--modal-border) var(--modal-border-color);
            border-radius: var(--modal-radius);
            box-shadow: var(--modal-shadow);
        }
        .close {
            cursor: pointer;
        }

        .header {
            background: var(--modal-header-background);
            border-bottom: var(--modal-header-border) var(--modal-header-border-color);
            border-radius: var(--modal-radius) var(--modal-radius) 0 0;
            display: flex;
            height: auto;
            justify-content: space-between;
            padding: var(--modal-padding);
            position: relative;
        }
        .header h3 {
            margin: 0;
        }
        .header .close {
            font-size: 1.5em;
            height: var(--modal-padding);
            justify-self: flex-end;
            line-height: var(--modal-padding);
            text-align: center;
            width: var(--modal-padding);
        }
        .body {
            padding: var(--modal-padding);
            position: relative;
        }
        .footer {
            background: var(--modal-footer-background);
            border-top: var(--modal-footer-border) var(--modal-footer-border-color);
            border-radius: 0 0 var(--modal-radius) var(--modal-radius);
            display: flex;
            justify-content: flex-end;
            padding: var(--modal-padding);
            text-align: right;

            .button {
                margin-bottom: 0;
            }
        }

    }

}