@charset "UTF-8";

@media all {

    /* Theme */
    :root {
        --font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-size: 16px;
        --line-height: 1.35;
        --light: #FFFFFF;
        --dark: #333333;
        --text: #000000;
        --link: #005ABB;
    }

    /* Shadows */
    :root {
        --dark-05: rgba(0, 0, 0, 0.05);
        --dark-10: rgba(0, 0, 0, 0.10);
        --dark-15: rgba(0, 0, 0, 0.15);
        --dark-20: rgba(0, 0, 0, 0.20);
        --dark-25: rgba(0, 0, 0, 0.25);
        --dark-30: rgba(0, 0, 0, 0.30);
        --dark-35: rgba(0, 0, 0, 0.35);
        --dark-40: rgba(0, 0, 0, 0.40);
        --dark-45: rgba(0, 0, 0, 0.45);
        --dark-50: rgba(0, 0, 0, 0.50);
        --dark-55: rgba(0, 0, 0, 0.55);
        --dark-60: rgba(0, 0, 0, 0.60);
        --dark-65: rgba(0, 0, 0, 0.65);
        --dark-70: rgba(0, 0, 0, 0.70);
        --dark-75: rgba(0, 0, 0, 0.75);
        --dark-80: rgba(0, 0, 0, 0.80);
        --dark-85: rgba(0, 0, 0, 0.85);
        --dark-90: rgba(0, 0, 0, 0.90);
        --dark-95: rgba(0, 0, 0, 0.95);
    }

    /* Base */
    html:focus-within {
        scroll-behavior: smooth;
    }
    body {
        overflow-y: scroll;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* Typography */
    body {
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: var(--line-height);
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        line-height: var(--line-height);
    }

    a, a:link {
        color: var(--link);
        text-decoration: none;
        outline: none;
    }
    a.hover,
    a:hover {
        color: var(--link);
        text-decoration: underline;
    }
    a img {
        border: none;
        display: block;
    }

    .disabled,
    [disabled] {
        cursor: not-allowed !important;
        opacity: 0.80;
    }

    /* Images */
    img, picture {
        display: block;
        height: auto;
        max-width: 100%;
    }

    /* Helpers */
    .hidden {
        display: none;
    }
    .inline {
        display: inline-block;
        vertical-align: middle;
    }
    .overflow {
        overflow: auto;
    }

    .flex {
        align-content: flex-start;
        display: flex;
        flex-flow: row wrap;
    }
    .fluid {
        width: 100%;
        max-width: 100%;
    }
    .centered {
        max-width: 1400px;
        margin: 0 auto;
        display: block;
        padding: 0 1em;
    }

}

/* Media-queries */
@media screen and (max-width: 540px) {
    .hidden-phone {
        display: none !important;
    }
}

@media screen and (min-width: 541px) and (max-width: 840px) {
    .hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width: 841px) {
    .hidden-desktop {
        display: none !important;
    }
}

/* No Animation */
@media (prefers-reduced-motion: reduce) {

    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

}

/* Print */
@media print {

    @page {
        margin: 0.5cm;
    }
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }
    a, a:visited {
        color: #000 !important;
        text-decoration: underline;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    h2, h3 {
        page-break-after: avoid;
    }

    .hidden-print {
        display: none !important;
    }

}