//
// SCREEN - Estilo de mídia screen:
// </> Estilos
// </> Media-Queries
// </> Plugins
//

/* ESTILOS */
/* ----------------------------------------- */
@media screen{

}

/* MEDIA-QUERIES */
/* ----------------------------------------- */
@media screen and (max-width: 768px){

}

/* PLUGINS */
/* ----------------------------------------- */
@media screen{

	/* LOADING */
	.tooltip-load, .modal-load{
		background: #434343 url(../img/load.gif) no-repeat center;
		display: block;
		height: 13px;
		padding: 5px;
		width: 62px;
	}

	/* ACORD */
	.acord{
		background: #FFF;
		border: 1px solid #555;
		border-top: none;
		list-style: none;
		padding: 0;

		.acord-pai, a.acord-pai{
			background: #555;
			border-top: 1px solid #222;
			color: #FFF;
			cursor: pointer;
			display: block;
			font-size: 16px;
			font-weight: bold;
			line-height: 16px;
			margin: 0;
			padding: 10px 15px;
		}

		.acord-pai:hover, .acord-pai-atual{
			background: #FFF;
			color: #555;
		}

		.acord-filho{
			display: none;
			padding: 10px;
			position: relative;
		}
	}

	/* ACORD - SLIDE */
	.acord-slide{

		.acord-filho{
			padding-bottom: 75px;
		}

		.acord-descricao{
			background: #888;
			background: rgba(0, 0, 0, 0.5);
			bottom: -10px;
			color: #EEE;
			display: none;
			left: 0px;
			padding: 5px 10px;
			position: absolute;
		}

		.acord-filho-atual .acord-descricao{
			display: block;
		}
	}

	/* MODAL */
	.modal-area{
		background: #434343;
		border: 1px solid #434343;
		min-width: 200px;
		position: absolute;
		@include border-radius(5px);
		@include box-shadow(0 4px 18px #222);
	}

	.modal-titulo{
		background: #434343;
		border-bottom: 1px solid #222;
		color: #FFF;
		font-weight: bold;
		padding: 5px 30px 5px 10px;
		text-shadow: 1px 1px 1px #000;
		@include border-radius(3px 3px 0 0);
	}

	.modal-conteudo{
		background: #FFF;
		padding: 10px;
	}

	.modal-fecha{
		color: #FFFFFF;
		cursor: pointer;
		font-size: 21px;
		font-weight: bold;
		position: absolute;
		right: 8px;
		top: 3px;
		text-shadow: 1px 1px 1px #000;
	}

	/* SLIDE */
	.slidetabs-scroll{
		position: relative;
		top: 0;
		left: 0;
		width: 9999px !important;
		height: 9999px !important;
	}
	.slidetabs-conteudo{
		background: #EEE;
		border: 1px solid #ABABAB;
		display: block;
		height: 220px;
		margin-bottom: 10px;
		overflow: hidden !important;
		width: 600px;
		position: relative;

		.painel{
			display: block;
			float: left;
			height: 180px;
			padding: 20px;
			width: 560px;
		}
	}

	.slidetabs-miniaturas{

		.miniatura{
			background: #EEE;
			border: 1px solid #ABABAB;
			cursor: pointer;
			display: block;
			float: left;
			font-size: 25px;
			height: 52px;
			line-height: 52px;
			margin: 0 0 5px 10px;
			width: 57px;
			text-align: center;
		}
		.slidetabs-miniatura-atual{
			background: #222;
			border-color: #000;
			color: #FFF;
		}
	}

	.seta, a.seta{
		color: #222;
		display: block;
		float: left;
		font-size: 72px;
		line-height: 41px;
		overflow: hidden;
		padding: 0 10px;

		&:visited{
			color: #222;
		}
	}
	.proximo{
		float: right;
	}

	/* SLIDER */
	.slider{

		.seta{
			line-height: 80px;
			float: left;
		}
		.slidetabs-conteudo{
			background: none;
			border: 1px solid #ABABAB;
			display: block;
			float: left;
			height: 82px;
			margin: 0;
			margin-bottom: 10px;
			overflow: hidden;
			padding: 0;
			width: 440px;

			div.painel{
				background: #EEE;
				border: 1px solid #ABABAB;
				cursor: pointer;
				display: block;
				font-size: 25px;
				float: left;
				height: 60px;
				line-height: 60px;
				margin: 10px 0 5px 10px;
				text-align: center;
				padding: 0;
				width: 60px;
			}
		}
	}

	/* TABS */
	.tabs{
		background: #444;
		border: 1px solid #222;
		display: block;
		padding: 5px;
		width: 600px;

		ul.tabs-navigation{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				background: #DDD;
				border: 1px solid #222;
				border-bottom: none;
				cursor: pointer;
				display: block;
				float: left;
				font-weight: bold;
				margin-left: 5px;
				padding: 5px 10px;

				&:hover{
					background-color: #EEE;
				}
				&.slidetabs-miniatura-atual{
					background: #FFF;
					border-bottom-color: #FFF;
				}
			}
		}

		.slidetabs-conteudo{
			background-color: #FFF;
			border-color: #222;
			margin-bottom: 0;
		}

		div div{
			background: #FFF;
		}
	}

	/* TOOLTIP */
	.tooltip-area{
		background: #434343;
		border: 1px solid #434343;
		color: #FFF;
		padding: 5px;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
	}
	.tooltip-conteudo img{
		border: 1px solid #222;
		display: block;
	}

	/* SETAS */
	.tooltip-seta{

		div{
			position: absolute;
			border: transparent solid 6px;
			height: 0;
			width: 0;
		}

		.tooltip-posicao-topo-centro,
		.tooltip-posicao-topo-esquerda,
		.tooltip-posicao-topo-direita,
		.tooltip-posicao-topo-lateral-esquerda,
		.tooltip-posicao-topo-lateral-direita{
			border-bottom-color: #434343;
		}
		.tooltip-posicao-topo-centro,
		.tooltip-posicao-topo-lateral-esquerda,
		.tooltip-posicao-topo-lateral-direita{
			top: -13px;
		}
		.tooltip-posicao-topo-centro,
		.tooltip-posicao-rodape-centro{
			left: 50%;
		}
		.tooltip-posicao-topo-centro,
		.tooltip-posicao-rodape-centro,
		.tooltip-posicao-rodape-direita,
		.tooltip-posicao-topo-direita{
			margin-left: -6px;
		}
		.tooltip-posicao-rodape-centro,
		.tooltip-posicao-rodape-esquerda,
		.tooltip-posicao-rodape-direita,
		.tooltip-posicao-rodape-lateral-esquerda,
		.tooltip-posicao-rodape-lateral-direita{
			border-top-color: #434343;
		}
		.tooltip-posicao-rodape-centro,
		.tooltip-posicao-rodape-lateral-esquerda,
		.tooltip-posicao-rodape-lateral-direita{
			bottom: -13px;
		}
		.tooltip-posicao-rodape-esquerda,
		.tooltip-posicao-topo-esquerda,
		.tooltip-posicao-centro-direita{
			border-right-color: #434343;
		}
		.tooltip-posicao-rodape-esquerda,
		.tooltip-posicao-rodape-direita{
			bottom: -10px;
		}
		.tooltip-posicao-rodape-esquerda,
		.tooltip-posicao-topo-esquerda,
		.tooltip-posicao-rodape-lateral-direita,
		.tooltip-posicao-topo-lateral-direita{
			right: 0;
		}
		.tooltip-posicao-rodape-esquerda,
		.tooltip-posicao-topo-esquerda{
			margin-right: -1px;
		}
		.tooltip-posicao-topo-esquerda,
		.tooltip-posicao-topo-direita{
			top: -10px;
		}
		.tooltip-posicao-rodape-direita,
		.tooltip-posicao-topo-direita,
		.tooltip-posicao-centro-esquerda{
			border-left-color: #434343;
		}
		.tooltip-posicao-rodape-direita,
		.tooltip-posicao-topo-direita,
		.tooltip-posicao-rodape-lateral-esquerda,
		.tooltip-posicao-topo-lateral-esquerda{
			left: 0;
		}
		.tooltip-posicao-centro-direita,
		.tooltip-posicao-centro-esquerda{
			top: 50%;
			margin-top: -6px;
		}
		.tooltip-posicao-centro-direita{
			left: -13px;
		}
		.tooltip-posicao-centro-esquerda{
			right: -13px
		}
	}

	/* VALIDA */
	input, textarea, select{

		&.error{
			background-color: #ffcfcf;
			border-color: #d7162b;

			&:focus{
				background-color: #fdeaed;
				border-color: #d7162b;
			}
		}

	}

	input.error{
		&[type="checkbox"],
		&[type="radio"]{
			+ label{
				color: #B50012;
			}
		}
	}

}