/* ESTILOS */
/* ----------------------------------------- */
body{
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
}
a, a:link {
	color: #3151A2;
	text-decoration: none;
}
a:hover, a:visited{
	color: #3151A2;
}
h1, h2, h3, h4, h5, h6{line-height: 100%; margin-bottom: 0.5em;}
h1{font-size: 250%;}
h2{font-size: 200%;}
h3{font-size: 150%;}
h4{font-size: 120%;}
h5, h6{font-size: 100%;}
p,ul,ol{margin-bottom: 10px;}
small{font-size: 75%;}
big{font-size: 125%;}

/*SELETORES*/
#tudo{
	margin: 0 auto;
	width: 960px;
}

/* @Grupo MENU */
ul.menu{
	background: #434343;
	border: 1px solid #222;
	height: 36px;
	padding: 3px;
}
ul.menu li{
	display: block;	
	float: left;
	position: relative;
}
ul.menu li a{
	border: 1px solid #434343;
	color: #FFFFFF !important;
	display: block;
	font-weight: bold;	
	line-height: 35px;
	padding: 0px 30px;
}
/* -- Hover -- */
ul.menu li a:hover, ul.menu li:hover{
	background: #4698ca;
	cursor:pointer;
	color: #FFFFFF;
	z-index: 10;
}
ul.menu li a:hover, ul.menu li:hover a,
ul.menu li ul li a:hover, ul.menu li ul li:hover a,
ul.menu li ul li ul li a:hover, ul.menu li ul li ul li:hover a{
	border: 1px solid #222;
}
ul.menu li:hover ul a,
ul.menu li ul li:hover ul a,
ul.menu li ul li ul li:hover ul a{
	border: 1px solid #434343;
}
/* -- Submenus -- */
ul.menu li ul{
	background: #434343;
	border: 1px solid #222;
	display: none;
	left: -1px;
	padding: 5px;
	position: absolute;
	top: 36px;
	width: 170px;
	z-index: 11;
}
ul.menu li ul li{
	width: 100%;
	margin-top:-1px;
}
ul.menu li ul li a{
	padding: 0px 10px;
	width: 150px;	
}
ul.menu li ul li ul{
	left: 171px;
	top: -5px;
}

/* @Grupo FORMULÁRIOS */
label{
	display: inline-block;
	font-weight: bold;
	padding-bottom: 5px;
}
label + input, label + textarea, label + select{
	display: block;
}
label + input[type="radio"], label + input[type="checkbox"]{
	display: inline-block;
}
input, textarea{
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	background: #FFF url(../img/bg-input.png) repeat-x top;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
	width: 280px;
}
input[type="radio"], input[type="checkbox"]{
	background: none;
	border: none;
	padding: 0;
	width: auto;
}
input[type="submit"]{
	background: #434343;
	border: 1px solid #222;
	font-weight: bold;
	color: #fff;
	padding: 5px 10px 7px;
	width: auto;
	height: 30px;
	display: inline-block;
	overflow: visible;
	cursor: pointer;
}
select{
	border: 1px solid;
	line-height: 1em;
	padding: 6px 8px;
	border-color: #bbb #ddd #ddd #bbb;
	background: #FFF url(../img/bg-input.png) repeat-x top;
	width: 298px;
}
option{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 2px 8px;
}
/* -- Focus -- */
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
.focus{
	background-color: #fcfcfc;
	outline:none;
}

/* @Grupo ALERTAS */
.alerta{
	background: #EDEDED;
	border: 1px solid #C0C0C0;
	display: block;
	color: #333;
	margin: 5px 0;
	padding: 10px;
}
.verde{
	background: #E9F9E5;
	border:1px solid #9BDEA8;
	color: #1C8400;
}
.vermelho{
	background: #F9E5E6;
	border:1px solid #DF8F8F;
	color: #C32727;
}
.amarelo{
	background: #FFF6BF;
	border:1px solid #EFC20E;
}
.azul{
	background: #DDEEFF;
	border:1px solid #85CAF3;
	color: #0055B5;
}

/* @Grupo TABELAS */
table{
	margin-bottom: 10px;
}
table tr th{
	background: #EEE;
	border: 1px solid #CCC;
	padding: 5px 10px;
}
table tr td{
	border: 1px solid #DDD;
	padding: 5px 10px;
}

/* @Grupo OUTROS */
a.botao{
	background: #434343;
	border: 1px solid #222;
	color: #FFF !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	overflow: visible;
	padding: 5px 10px;
	width: auto;
}
blockquote{
	background: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 20px 0px;
}
iframe{
	border: 1px solid #ccc;
}