/* ESTILOS */
/* ----------------------------------------- */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #222;
	line-height: 21px;
}
a, a:link {
	color: #3151A2;
	text-decoration: none;
}
a:hover, a:visited{
	color: #3151A2;
}
h1, h2, h3, h4, h5, h6{line-height: 100%; margin-bottom: 0.5em;}
h1{font-size: 250%;}
h2{font-size: 200%;}
h3{font-size: 150%;}
h4{font-size: 120%;}
h5, h6{font-size: 100%;}
p,ul,ol{margin-bottom: 10px;}
small{font-size: 75%;}
big{font-size: 125%;}

/*SELETORES*/
#tudo{width: 960px;	margin: 0 auto;}
#topo, #conteudo, #rodape{display: inline-block; width: 940px;}
#topo{margin: 10px 0; padding: 10px;}
#conteudo{margin: 10px 0; width: 960px;}
#rodape{margin: 10px 0;	padding: 10px;}

/* @Grupo MENU */
ul.menu{
	background: #333;
	height: 36px;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
ul.menu li{
	float: left;
	display: block;	
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
ul.menu li:hover{ /*Fix para z-index IE7)*/
	z-index: 10;
}
ul.menu li a{
	padding: 0px 30px;
	line-height: 35px;
	font-weight: bold;
	color: #FFFFFF !important;
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
ul.menu li a:hover, ul.menu li:hover{
	color: #FFFFFF;
	background: #4698ca;
	border-top-color: #5db1e0 !important;
	border-left-color: #5db1e0;
}
/* -- Submenus -- */
ul.menu li ul{
	position: absolute;
	background: #333;
	width: 170px;
	padding: 5px;
	top: 36px;
	left: -1px;
	display: none;
	z-index: 10;
}
ul.menu li ul li{
	width: 100%;
	background: #333;
	position: relative;
}
ul.menu li ul li:hover, ul.menu li ul li a:hover{
	color: #fff;
	background: #4698ca;
	border-top-color: #5db1e0 !important;
	border-left-color: #5db1e0;
}
ul.menu li ul li a{
	width: 110px;	
}
ul.menu li ul li ul{
	position: absolute;
	background: #333;
	width: 170px;
	top: -5px;
	left: 171px;
	display: none;
}
ul.menu li ul li{
	width: 170px;
	background: #333;
}

/* @Grupo FORMULÁRIOS */
label{
	font-weight: bold;
	display: block;
}
input, textarea{
	padding: 8px;
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	background: #FFF url(../img/input.png) repeat-x top;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
input[type="radio"], input[type="checkbox"]{
	border: none;
	background: none;
	padding: 0;
}
input[type="submit"]{
	background: #333;
	border: 1px solid #000;
	font-weight: bold;
	color: #fff;
	padding: 5px 10px 7px;
	width: auto;
	height: 30px;
	display: inline-block;
	overflow: visible;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
select{
	border: 1px solid;
	line-height: 1em;
	padding: 6px 8px;
	border-color: #bbb #ddd #ddd #bbb;
	background: url(../img/input.png) repeat-x top;
	width: 321px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
option{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0 8px;
}

/* @Grupo ALERTAS */
.alerta{
	padding: 10px 20px;
	border: 1px solid #C0C0C0;
	margin: 5px 0;
	display: block;
	background: #EDEDED;
	color: #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.verde{
	background: #E9F9E5;
	border:1px solid #9BDEA8;
	color: #1C8400;
}
.vermelho{
	background: #F9E5E6;
	border:1px solid #DF8F8F;
	color: #C32727;
}
.amarelo{
	background: #FFF6BF;
	border:1px solid #EFC20E;
}
.azul{
	background: #DDEEFF;
	border:1px solid #85CAF3;
	color: #0055B5;
}

/* @Grupo TABELAS */
table{
	margin-bottom: 10px;
}
table tr th{
	background: #EEE;
	border: 1px solid #CCC;
	padding: 5px 10px;
}
table tr td{
	border: 1px solid #DDD;
	padding: 5px 10px;
}

/* @Grupo OUTROS */
a.botao{
	background: #333;
	border: 1px solid #000;
	font-weight: bold;
	color: #fff;
	padding: 5px 10px;
	width: auto;
	display: inline-block;
	overflow: visible;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
blockquote{
	padding: 10px 20px 0px;
	border: 1px solid #ccc;
	background: #f2f2f2;
	margin-bottom: 10px;
}
iframe{
	border: 1px solid #ccc;
}