/* FORMULARIOS */
/* ----------------------------------------- */
label{
	display: inline-block;
	font-weight: bold;
	padding-bottom: 5px;
}
label + input, label + textarea, label + select{
	display: block;
}
label + input[type="radio"], label + input[type="checkbox"]{
	display: inline-block;
}

input, textarea{
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	background: #FFF url(../img/bg-input.png) repeat-x top;
	padding: 8px;
	width: 280px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
}
input[type="radio"], input[type="checkbox"]{
	background: none;
	border: none;
	padding: 0;
	width: auto;
}
input.submit, input[type="submit"]{
	background: #434343;
	border: 1px solid #222;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	height: 30px;
	overflow: visible;
	padding: 6px 10px;
	width: auto;
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

select{
	background: #FFF url(../img/bg-input.png) repeat-x top;
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	line-height: 1em;
	padding: 6px 8px;
	width: 298px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
}
option{
	padding: 2px 8px 0;
}

button {
	overflow: visible;
	padding: 0 5px;
}

/*FOCUS*/
.focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{
	background-color: #fcfcfc;
	outline:none;
	border-color: #aaa;
}