/* ELEMENTOS LINHA FRAMEWORK */
/* ----------------------------------------- */

/* @Grupo ACORD */
.accordion{
	background: #f9f9f9;
	border: 1px solid #222;
	border-top: none;
}
.accordion h2, ul.accordion li span{
	background: #434343;
	border-top: 1px solid #222;
	border-bottom: 1px solid #434343;
	color: #FFF;
	cursor: pointer;
	display:block;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 10px;
	margin: 0;
}
.accordion h2:hover, .accordion .accordion-pai-atual{
	background: #4698ca;
	border-top-color: #222 !important;
	border-bottom-color: #4698ca;
	border-left-color: #5db1e0;
}
.accordion div{
	border: 1px solid #fff;
	padding: 5px 10px;
}
.accordion .accordion-filho-atual{
	border-top-color: #222 !important;
}
ul.accordion{
	list-style: none;
	margin: 0;
	padding: 0; 
}

/* @Grupo FORM */
form input.erro{
	border: 1px solid #F00; 
}

/* @Grupo MODAL */
.modal-area{
	background: #FFF;
	border: 1px solid #434343;
	min-width: 500px;
	position: absolute;
	-moz-box-shadow: 0 4px 18px #252525;
	-webkit-box-shadow: 0 4px 18px #252525;
	-khtml-box-shadow: 0 4px 18px #252525;
	box-shadow: 0 4px 18px #252525;
}
.modal-titulo{
	background: #434343;
	border-bottom: 1px solid #222;
	color: #FFF;
	font-weight: bold;
	padding: 5px 10px;
}
.modal-conteudo{
	background: #FFF;
	padding: 10px;	
}
.modal-fecha{
	color:#FFFFFF;
	cursor: pointer;
	font-size:21px;
	font-weight:bold;
	position:absolute;
	right:8px;
	top:5px;
}

/* @Grupo SLIDE*/
.slide{
	display: block;
	height: 290px;
	width: 600px;
}
.slide-conteudo{
	background: #EEE;
	border: 1px solid #ABABAB;
	display: block;
	height: 220px;
	margin-bottom: 10px;
	overflow: hidden;
}
.painel{
	display: block;
	float: left;
	height: 180px;
	padding: 20px;
	width: 560px;
}
a.seta{
	color: #222;
	display: block;
	float: left;
	font-size: 72px;
	line-height: 41px;
	overflow: hidden;
	padding: 0 10px;
}
a.seta:visited{
	color: #222;
}
.slide-miniaturas{
	display: block;
	float: left;
	line-height: 41px;
}
div.miniatura{
	background: #EEE;
	border: 1px solid #ABABAB;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 25px;
	height:52px;
	line-height: 52px;
	margin: 0 0 5px 10px;
	width: 57px;
	text-align: center;
}
.slide-miniaturas .slide-miniatura-atual{
	background: #222;
	border-color: #000; 
	color: #FFF;
}
.slide-miniaturas div.primeiro{
	margin: 0;
	padding: 0;
}
.proximo{
	float: right;
}

/* @Grupo SLIDER*/
.slider{
	width: 700px;
}
.slider .proximo{
	float: left;
}
.slider-painel div.primeiro{
	margin: 0;
	padding: 0;
}
.slider-painel{
	display:block;
	float:left;
	height:55px;
	overflow:hidden;
	width: 266px;
}
.slider-painel div div{
	background: #EEE;
	border: 1px solid #ABABAB;
	cursor: pointer;
	display: block;
	font-size: 25px;
	float: left;
	height:52px;
	line-height: 52px;
	margin: 0 10px 5px 0;
	text-align: center;
	width: 57px;
}

/* @Grupo TABS*/
.tabs_area{
	border: 1px solid #000;
	background: #222;
	display: block;
	padding: 5px;
	width: 600px;
}
.tabs_area ul.tabs{
	padding: 0;
	list-style: none;
} 
.tabs_area ul.tabs li{
	background: #DDD;
	border: 1px solid #222;
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	margin-left: 5px;
	padding: 5px 10px;
}
.tabs_area ul.tabs li.slide-miniatura-atual{
	background: #FFF;
	border-bottom-color: #FFF;
}
.tabs_area .tabs_conteudo{
	overflow: hidden;
	width: 600px;
}
.tabs_area div div{
	background: #FFF;
	display: block;
	float: left;
	padding: 5px;
	width: 590px;
}

/* @Grupo TOOLTIP */
.tooltip-area{
	background: #434343;
	border: 1px solid #222;
	color: #FFF;
	padding: 5px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}
.tooltip-conteudo{
	position: relative;
}
.tooltip-conteudo img{
	border: 1px solid #222;
	display: block;
}
.tooltip-load, .modal-load{
	background: #434343 url(../img/load.gif) no-repeat center;
	display: block;
	height: 13px;
	padding: 5px;
	width: 62px;
}
/*Setas*/
.tooltip-seta div{
	position: absolute;
	border: transparent solid 6px;
	height: 0;
	width: 0;
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-direita{
	border-bottom-color:#343434
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-direita{
	top:-18px
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-rodape-centro{
	left:50%
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita{
	margin-left:-6px
}
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita{
	border-top-color:#343434
}
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita{
	bottom:-18px
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-centro-direita {
	border-right-color:#343434
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-rodape-direita {
	bottom:-14px
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita,
.tooltip-seta .tooltip-posicao-topo-lateral-direita {
	right:0
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda {
	margin-right:-6px
}
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-topo-direita {
	top:-14px
}
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-centro-esquerda {
	border-left-color:#343434
}
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda {
	left:0
}
.tooltip-seta .tooltip-posicao-centro-direita,
.tooltip-seta .tooltip-posicao-centro-esquerda {
	top:50%;
	margin-top:-6px
}
.tooltip-seta .tooltip-posicao-centro-direita {
	left:-18px
}
.tooltip-seta .tooltip-posicao-centro-esquerda {
	right:-18px
}