/* RESET */
/* ----------------------------------------- */

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui e em algumas alterações feitas por Mateus Souza: http://www.mateussouza.com */
*, html, body, div, dl, dt, dd, ul, ol, li, ul li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img, iframe { border:0 }
ol, ul, ul li {list-style: none; list-style-type: none;}
ol li{list-style:decimal; margin-left: 1.8em;}
ul li{list-style:disc; margin-left: 1.5em;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}
caption, th { text-align:left }
h1, h3, h4, h5, h6 { font-size:100%}
blockquote:before, blockquote:after, q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight: bold }
cite, em, dfn { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */
.clear{clear:both; display: block; height: 0px; overflow:hidden;}
.float-left{ float: left;}
.float-right{ float: right;}