@charset "UTF-8";

@media all {

    :root {
        --pagination-background: transparent;
        --pagination-border: 1px solid;
        --pagination-border-color: var(--link);
        --pagination-color: var(--link);
        --pagination-radius: 0.125em;
        --pagination-padding: 0.375em 1.25em;

        --pagination-disabled-background: transparent;
        --pagination-disabled-border-color: var(--dark-30);
        --pagination-disabled-color: var(--dark-60);

        --pagination-hover-background: var(--link);
        --pagination-hover-border-color: var(--link);
        --pagination-hover-color: var(--light);
    }

    .pagination a {
        background: var(--pagination-background);
        border: var(--pagination-border) var(--pagination-border-color);
        border-radius: var(--pagination-radius);
        color: var(--pagination-color);
        display: inline-block;
        margin-bottom: 0.625em;
        padding: var(--pagination-padding);
        transition: all 0.15s ease-out;

        &.hover,
        &:hover {
            text-decoration: none;
        }
        &.disabled {
            background: var(--pagination-disabled-background);
            border-color: var(--pagination-disabled-border-color);
            color: var(--pagination-disabled-color);
        }

        &:not(.disabled).hover,
        &:not(.disabled):hover {
            background: var(--pagination-hover-background);
            border-color: var(--pagination-hover-border-color);
            color: var(--pagination-hover-color);
        }
    }

}
