/**
 * ALL - Estilo de mídia all, presente em todos os tipos de mídia:
 * </> Reset + HTML5 Reset
 * </> Tipografia
 * </> Formulários
 * </> Grid
 * </> Grid Responsive
 * </> Grid Helpers
 */

/* RESET + HTML5 Reset */
/* ----------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
input, textarea, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video, a{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{ display: block; }
nav ul, ul, ol{ list-style: none; }

blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }

body{ line-height: 1; overflow-y: scroll; }

body, html{ height: 100%; min-height: 100%; }
.opera body{ height: auto; }

abbr[title], dfn[title]{ border-bottom: 1px dotted #000; cursor: help; }

table{ border-collapse: collapse; border-spacing: 0; }

td, td img{ vertical-align: top; } 

sub{ vertical-align: sub; font-size: smaller; }
sup{ vertical-align: super; font-size: smaller; }

pre, blockquote, textarea{
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

input, select{ vertical-align: middle; }
input::-moz-focus-inner{ border: 0; padding: 0; }

input[type="radio"]{ vertical-align: text-bottom; }
input[type="checkbox"]{ vertical-align: baseline; }
.ie-7 input[type="checkbox"]{ vertical-align: baseline; }
.ie-6 input{ vertical-align: text-bottom; }

button, input, select, textarea{ margin: 0; }

button{ width: auto; overflow: visible; }

label, input[type="button"], input[type="submit"], button{ cursor: pointer; }

textarea{ overflow: auto; }

:focus{ outline: 0; }

::-moz-selection{ background: #535353; color:#FFF; text-shadow: none; }
::selection{ background:#535353; color:#FFF; text-shadow: none; }

.ie-7 img{ -ms-interpolation-mode: bicubic; }

.clear{ clear:both; display: block; height: 0px; overflow: hidden; }
.clearfix:before, .clearfix:after{ content:""; display:table; }
.clearfix:after{ clear:both; }
.clearfix{ zoom:1; }

.left{ float: left; }
.right{ float: right; }
.hide{ display: none; }

/* TIPOGRAFIA */
/* ----------------------------------------- */
body{
	background: #FFF;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

/*LINKS*/
a, a:link{
	color: #3151A2;
	text-decoration: none;
}
a:hover, a:visited{
	color: #3151A2;
}
a img{
	border: none;
	display: block;
}

/*CABEÇALHOS*/
h1, h2, h3, h4, h5, h6{
	display: block;
	font-weight: bold;
	line-height: 100%;
	margin-bottom: 10px;
}
h1{ font-size: 250%; }
h2{ font-size: 200%; }
h3{ font-size: 150%; }
h4{ font-size: 120%; }
h5, h6{ font-size: 100%; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	display: block;
}

/*TEXTOS*/
p,ul,ol{ margin-bottom: 10px; }
small{ font-size: 75%; }
big{ font-size: 125%; }
strong{ font-weight: bold; }
cite, em, dfn{ font-style: italic; }
del{ text-decoration: line-through; }
input, textarea, select, button, option{ font-size: 100%; font-family: Arial, Helvetica, sans-serif; }

/*LISTAS*/
ol, ul{ padding-left: 35px; }
ul{ list-style-type: disc; }
ol{ list-style-type: decimal; }

dl{ margin: 0 0 1.5em 0; }
dl dt{ font-weight: bold; }
dd{ margin-left: 1.5em; }

/*TABELAS*/
table{
	margin-bottom: 10px;
}
table tr th{
	background: #EEE;
	border: 1px solid #CCC;
	padding: 5px 10px;
	vertical-align: middle;
}
table tr td{
	border: 1px solid #DDD;
	padding: 5px 10px;
}

/*ALERTAS*/
.alert{
	background: #EDEDED;
	border: 1px solid #C0C0C0;
	color: #333;
	display: block;
	margin: 5px 0;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.green{
	background-color: #E9F9E5;
	border-color: #9BDEA8;
	color: #1C8400;
}
.red{
	background-color: #F9E5E6;
	border-color: #DF8F8F;
	color: #C32727;
}
.yellow{
	background-color: #FFF6BF;
	border-color: #EFC20E;
}
.blue{
	background-color: #DDEEFF;
	border-color: #85CAF3;
	color: #0055B5;
}
.error{
	border-color: #F00;
}

/*OUTROS*/
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}
ins{
	background-color: #FF9;
	color: #000;
	text-decoration: none;
}
mark{
	background-color: #FF9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del{
	text-decoration: line-through;
}
blockquote{
	background: #F2F2F2;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 10px 20px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
iframe{
	border: 1px solid #CCC;
}

/*HELPERS*/
.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
.align-justify{ text-align: justify; }
.align-left, img.align-left, img[align="left"]{
	display: inline;
	float: left;
	margin-right: 10px;
}
.align-right, img.align-right, img[align="right"]{
	display: inline;
	float: right;
	margin-left: 10px;
}
.align-center, img.align-center, img[align="center"]{
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* FORMULÁRIOS */
/* ----------------------------------------- */
label{
	display: inline-block;
	font-weight: bold;
	padding-bottom: 5px;
}
label + input, label + textarea, label + select{
	display: block;
}
label + input[type="radio"], label + input[type="checkbox"]{
	display: inline-block;
}

input, textarea{
	background: #FFF url(../img/input.png) repeat-x top;
	border: 1px solid;
	border-color: #BBB #DDD #DDD #BBB;
	padding: 8px;
	width: 280px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}
input[type="radio"], input[type="checkbox"]{
	background: none;
	border: none;
	padding: 0;
	width: auto;
}
input.submit, input[type="submit"]{
	background: #434343;
	border: 1px solid #222;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	height: 30px;
	overflow: visible;
	padding: 6px 10px;
	width: auto;
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/*SELECT*/
select{
	line-height: 1em;
	margin-top: 7px;
	min-width: 298px;
}
option{
	padding: 2px 8px 0;
}

/*FOCUS*/
.focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
	background-color: #FCFCFC;
	border-color: #AAA;
	outline: none;
}

/* GRID */
/* ----------------------------------------- */
.grid-12, .grid-16, .grid-24{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.column{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/*12 COLUNAS*/
.grid-12 .width1{ width: 60px; }
.grid-12 .width2{ width: 140px; }
.grid-12 .width3{ width: 220px; }
.grid-12 .width4{ width: 300px; }
.grid-12 .width5{ width: 380px; }
.grid-12 .width6{ width: 460px; }
.grid-12 .width7{ width: 540px; }
.grid-12 .width8{ width: 620px; }
.grid-12 .width9{ width: 700px; }
.grid-12 .width10{ width: 780px; }
.grid-12 .width11{ width: 860px; }
.grid-12 .width12{ width: 940px; }

/*16 COLUNAS*/
.grid-16 .width1{ width: 40px; }
.grid-16 .width2{ width: 100px; }
.grid-16 .width3{ width: 160px; }
.grid-16 .width4{ width: 220px; }
.grid-16 .width5{ width: 280px; }
.grid-16 .width6{ width: 340px; }
.grid-16 .width7{ width: 400px; }
.grid-16 .width8{ width: 460px; }
.grid-16 .width9{ width: 520px; }
.grid-16 .width10{ width: 580px; }
.grid-16 .width11{ width: 640px; }
.grid-16 .width12{ width: 700px; }
.grid-16 .width13{ width: 760px; }
.grid-16 .width14{ width: 820px; }
.grid-16 .width15{ width: 880px; }
.grid-16 .width16{ width: 940px; }

/*24 COLUNAS*/
.grid-24 .column{ margin-left: 5px; margin-right: 5px; }
.grid-24 .width1{ width: 30px; }
.grid-24 .width2{ width: 70px; }
.grid-24 .width3{ width: 110px; }
.grid-24 .width4{ width: 150px; }
.grid-24 .width5{ width: 190px; }
.grid-24 .width6{ width: 230px; }
.grid-24 .width7{ width: 270px; }
.grid-24 .width8{ width: 310px; }
.grid-24 .width9{ width: 350px; }
.grid-24 .width10{ width: 390px; }
.grid-24 .width11{ width: 430px; }
.grid-24 .width12{ width: 470px; }
.grid-24 .width13{ width: 510px; }
.grid-24 .width14{ width: 550px; }
.grid-24 .width15{ width: 590px; }
.grid-24 .width16{ width: 630px; }
.grid-24 .width17{ width: 670px; }
.grid-24 .width18{ width: 710px; }
.grid-24 .width19{ width: 750px; }
.grid-24 .width20{ width: 790px; }
.grid-24 .width21{ width: 830px; }
.grid-24 .width22{ width: 870px; }
.grid-24 .width23{ width: 910px; }
.grid-24 .width24{ width: 950px; }

.grid-12 .first, .grid-16 .first, .grid-24 .first{ margin-left: 0; }
.grid-12 .last, .grid-16 .last, .grid-24 .last{ margin-right: 0; }
.grid-12 .nothing, .grid-16 .nothing, .grid-24 .nothing{ margin-left: 0; margin-right: 0; }

/* GRID RESPONSIVE 
   Basicamente este grid se adpta a resolução do navegador, é uma alternativa a @media max-width - CSS3
   Colunas de width maior do que o permitido, serão convertidas para o width máximo, se adptando a resolução
   
   Você também pode usar classes hide de acordo com a resolução
   
   SCREEN    AREA   "LIVRE"   COLUNAS
   320       280    260       4      
   480       420    400       6      
   620       560    540       8      
   768       700    680       10     
   1024      980    960       14     
   1280      1190   1170      17
   1440      1330   1310      19     
----------------------------------------- */
.grid-responsive{
	display: block;
	margin: 0 auto;
	max-width: 1330px;
	overflow: hidden;
}
.grid-responsive .column{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 1310px;
}
.grid-responsive .column img,
.grid-responsive .column object,
.grid-responsive .column embed{
	max-width: 100%;
}

.grid-responsive .width1{ width: 50px; }
.grid-responsive .width2{ width: 120px; }
.grid-responsive .width3{ width: 190px; }
.grid-responsive .width4{ width: 260px; }
.grid-responsive .width5{ width: 330px; }
.grid-responsive .width6{ width: 400px; }
.grid-responsive .width7{ width: 470px; }
.grid-responsive .width8{ width: 540px; }
.grid-responsive .width9{ width: 610px; }
.grid-responsive .width10{ width: 680px; }
.grid-responsive .width11{ width: 750px; }
.grid-responsive .width12{ width: 820px; }
.grid-responsive .width13{ width: 890px; }
.grid-responsive .width14{ width: 960px; }
.grid-responsive .width15{ width: 1030px; }
.grid-responsive .width16{ width: 1100px; }
.grid-responsive .width17{ width: 1170px; }
.grid-responsive .width18{ width: 1240px; }
.grid-responsive .width19{ width: 1310px; }

/*Screen Resolution*/
.screen-320 .grid-responsive{ width: 280px; }
.screen-320 .grid-responsive .column{ max-width: 260px; }
.screen-320 .grid-responsive .screen-320-hide{ display: none; }

.screen-480 .grid-responsive{ width: 420px; }
.screen-480 .grid-responsive .column{ max-width: 400px; }
.screen-480 .grid-responsive .screen-480-hide{ display: none; }

.screen-640 .grid-responsive{ width: 560px; }
.screen-640 .grid-responsive .column{ max-width: 540px; }
.screen-640 .grid-responsive .screen-640-hide{ display: none; }

.screen-768 .grid-responsive{ width: 700px; }
.screen-768 .grid-responsive .column{ max-width: 680px; }
.screen-768 .grid-responsive .screen-768-hide{ display: none; }

.screen-1024 .grid-responsive{ width: 980px; }
.screen-1024 .grid-responsive .column{ max-width: 960px;}
.screen-1024 .grid-responsive .screen-1024-hide{ display: none; }

.screen-1280 .grid-responsive{ width: 1190px; }
.screen-1280 .grid-responsive .column{ max-width: 1170px;}
.screen-1280 .grid-responsive .screen-1280-hide{ display: none; }

.screen-1440 .grid-responsive{ width: 1330px; }
.screen-1440 .grid-responsive .screen-1440-hide{ display: none; }

/* GRID HELPERS */
/* ----------------------------------------- */
.left5{ padding-left: 5px; }
.left10{ padding-left: 10px; }
.left15{ padding-left: 15px; }
.left20{ padding-left: 20px; }

.right5{ padding-right: 5px; }
.right10{ padding-right: 10px; }
.right15{ padding-right: 15px; }
.right20{ padding-right: 20px; }
