/**
 * SCREEN - Estilo de mídia screen:
 * </> Estilos Básicos
 * </> Plugins Linha Framework
 */
@media screen{

/* BÁSICO */
/* ----------------------------------------- */

/* ## Você deve inserir seu CSS aqui... ## */

/* PLUGINS LINHA FRAMEWORK */
/* ----------------------------------------- */

/*LOADING*/
.tooltip-load, .modal-load{
	background: #434343 url(../img/load.gif) no-repeat center;
	display: block;
	height: 13px;
	padding: 5px;
	width: 62px;
}

/*ACORD*/
.acord{
	background: #FFF;
	border: 1px solid #555;
	border-top: none;
	list-style: none;
	padding: 0;
}
.acord .acord-pai, .acord a.acord-pai{
	background: #555;
	border-top: 1px solid #222;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
	padding: 10px 15px;
}
.acord .acord-pai:hover, .acord .acord-pai-atual{
	background: #FFF;
	color: #555;
}
.acord .acord-filho{
	display: none;
	padding: 10px;
	position: relative;
}

/*ACORD - SLIDE*/
.acord-slide .acord-filho{
	padding-bottom: 75px;
}
.acord-slide .acord-descricao{
	background: #888;
	background: rgba(0, 0, 0, .5);
	bottom: -10px;
	color: #EEE;
	display: none;
	left: 0px;
	padding: 5px 10px;
	position: absolute;
}
.acord-slide .acord-filho-atual .acord-descricao{
	display: block;
}

/*MODAL*/
.modal-area{
	background: #434343;
	border: 1px solid #434343;
	min-width: 200px;
	position: absolute;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 4px 18px #222;
	-webkit-box-shadow: 0 4px 18px #222;
	-khtml-box-shadow: 0 4px 18px #222;
	box-shadow: 0 4px 18px #222;
}
.modal-titulo{
	background: #434343;
	border-bottom: 1px solid #222;
	color: #FFF;
	font-weight: bold;
	padding: 5px 30px 5px 10px;
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.modal-conteudo{
	background: #FFF;
	padding: 10px;
}
.modal-fecha{
	color: #FFFFFF;
	cursor: pointer;
	font-size: 21px;
	font-weight: bold;
	position: absolute;
	right: 8px;
	top: 3px;
	text-shadow: 1px 1px 1px #000;
}

/*NAV*/
ul.menu{
	background: #434343;
	border: 1px solid #222;
	height: 36px;
	padding: 3px;
}
ul.menu li{
	display: block;
	float: left;
	position: relative;
}
ul.menu li a{
	border: 1px solid #434343;
	color: #FFFFFF !important;
	display: block;
	font-weight: bold;
	line-height: 35px;
	padding: 0px 30px;
}
/*Hover*/
ul.menu li a:hover, ul.menu li:hover{
	background: #4698ca;
	cursor: pointer;
	color: #FFFFFF;
	z-index: 10;
}
ul.menu li a:hover, ul.menu li:hover a,
ul.menu li ul li a:hover, ul.menu li ul li:hover a,
ul.menu li ul li ul li a:hover, ul.menu li ul li ul li:hover a{
	border: 1px solid #222;
}
ul.menu li:hover ul a,
ul.menu li ul li:hover ul a,
ul.menu li ul li ul li:hover ul a{
	border: 1px solid #434343;
}
/*Submenus*/
ul.menu li ul{
	background: #434343;
	border: 1px solid #222;
	display: none;
	height: auto;
	left: -1px;
	padding: 5px;
	position: absolute;
	top: 36px;
	width: 170px;
	z-index: 11;
}
ul.menu li ul li{
	width: 100%;
	margin-top:-1px;
}
ul.menu li ul li a{
	padding: 0px 10px;
	width: 150px;
}
ul.menu li ul li ul{
	left: 171px;
	top: -5px;
}

/*SLIDE*/
.slide{
	display: block;
	height: 290px;
	width: 600px;
}
.slide-conteudo{
	background: #EEE;
	border: 1px solid #ABABAB;
	display: block;
	height: 220px;
	margin-bottom: 10px;
	overflow: hidden;
}
.painel{
	display: block;
	float: left;
	height: 180px;
	padding: 20px;
	width: 560px;
}
.seta, a.seta{
	color: #222;
	display: block;
	float: left;
	font-size: 72px;
	line-height: 41px;
	overflow: hidden;
	padding: 0 10px;
}
.seta:visited, a.seta:visited{
	color: #222;
}
.slide-miniaturas{
	display: block;
	float: left;
	line-height: 41px;
}
.slide-miniaturas .miniatura{
	background: #EEE;
	border: 1px solid #ABABAB;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 25px;
	height: 52px;
	line-height: 52px;
	margin: 0 0 5px 10px;
	width: 57px;
	text-align: center;
}
.slide-miniaturas .slide-miniatura-atual{
	background: #222;
	border-color: #000;
	color: #FFF;
}
.slide-miniaturas .primeiro{
	margin: 0;
	padding: 0;
}
.proximo{
	float: right;
}

/*SLIDER*/
.slider{
	width: 700px;
}
.slider .proximo{
	float: left;
}
.slider-painel .primeiro{
	margin: 0;
	padding: 0;
}
.slider-painel{
	display: block;
	float: left;
	height: 55px;
	overflow: hidden;
	width: 266px;
}
.slider-painel div div{
	background: #EEE;
	border: 1px solid #ABABAB;
	cursor: pointer;
	display: block;
	font-size: 25px;
	float: left;
	height: 52px;
	line-height: 52px;
	margin: 0 10px 5px 0;
	text-align: center;
	width: 57px;
}

/*TABS*/
.tabs_area{
	background: #222;
	border: 1px solid #000;
	display: block;
	padding: 5px;
	width: 600px;
}
.tabs_area ul.tabs{
	list-style: none;
	margin: 0;
	padding: 0;
} 
.tabs_area ul.tabs li{
	background: #DDD;
	border: 1px solid #222;
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	margin-left: 5px;
	padding: 5px 10px;
}
.tabs_area ul.tabs li.slide-miniatura-atual{
	background: #FFF;
	border-bottom-color: #FFF;
}
.tabs_area .tabs_conteudo{
	overflow: hidden;
	display: block;
	width: 600px;
}
.tabs_area div div{
	background: #FFF;
	display: block;
	float: left;
	padding: 5px;
	width: 590px;
}

/*TOOLTIP */
.tooltip-area{
	background: #434343;
	border: 1px solid #434343;
	color: #FFF;
	padding: 5px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}
.tooltip-conteudo img{
	border: 1px solid #222;
	display: block;
}

/*Setas*/
.tooltip-seta div{
	position: absolute;
	border: transparent solid 6px;
	height: 0;
	width: 0;
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-direita{
	border-bottom-color: #434343;
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-direita{
	top: -13px;
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-rodape-centro{
	left: 50%;
}
.tooltip-seta .tooltip-posicao-topo-centro,
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita{
	margin-left: -6px;
}
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita{
	border-top-color: #434343;
}
.tooltip-seta .tooltip-posicao-rodape-centro,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita{
	bottom: -13px;
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-centro-direita{
	border-right-color: #434343;
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-rodape-direita{
	bottom: -10px;
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-rodape-lateral-direita,
.tooltip-seta .tooltip-posicao-topo-lateral-direita{
	right: 0;
}
.tooltip-seta .tooltip-posicao-rodape-esquerda,
.tooltip-seta .tooltip-posicao-topo-esquerda{
	margin-right: -1px;
}
.tooltip-seta .tooltip-posicao-topo-esquerda,
.tooltip-seta .tooltip-posicao-topo-direita{
	top: -10px;
}
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-centro-esquerda{
	border-left-color: #434343;
}
.tooltip-seta .tooltip-posicao-rodape-direita,
.tooltip-seta .tooltip-posicao-topo-direita,
.tooltip-seta .tooltip-posicao-rodape-lateral-esquerda,
.tooltip-seta .tooltip-posicao-topo-lateral-esquerda{
	left: 0;
}
.tooltip-seta .tooltip-posicao-centro-direita,
.tooltip-seta .tooltip-posicao-centro-esquerda{
	top: 50%;
	margin-top: -6px;
}
.tooltip-seta .tooltip-posicao-centro-direita{
	left: -13px;
}
.tooltip-seta .tooltip-posicao-centro-esquerda{
	right: -13px
}

/*VALIDA*/
body .valida-erro{
	background-color: #ffcfcf;
	border: 1px solid #d7162b;
}
body .valida-erro:focus{
	background-color: #fdeaed;
	border-color: #d7162b;
}
input[type="checkbox"].valida-erro + label, input[type="radio"].valida-erro + label{
	color: #B50012;
}

}