@charset "UTF-8";

@media all {

    :root {
        --invalid-background: var(--light-danger);
        --invalid-border-color: var(--danger);
        --invalid-color: var(--danger);
    }

    input.invalid,
    textarea.invalid,
    select.invalid,
    div.invalid {
        background: var(--invalid-background);
        border-color: var(--invalid-border-color);

        &:focus {
            background: var(--invalid-background);
            border-color: var(--invalid-border-color);
        }
    }

    .select.invalid {
        background: var(--invalid-background);
        border-color: var(--invalid-border-color);

        &:after {
            border-top-color: var(--invalid-border-color);
        }
    }

    label.invalid {
        color: var(--invalid-color);
    }
    form.invalid {
        border-color: var(--invalid-border-color);
    }

}