@charset "UTF-8";

/* Tabs */
@media screen{

    .tabs{
        border-bottom: 1px solid var(--alpha-10);
        list-style: none;
        display: flex;
        margin: 0;
        margin-top: -1px;
        padding: 0 1em;

        li{
            border: 1px solid transparent;
            border-bottom: 0;
            cursor: pointer;
            flex: 0 1 auto;
            padding: 0.5em 0.625em;

            &.active{
                background: var(--light);
                border-color: var(--alpha-10);
                color: var(--link);
                margin-top: 1px;
                margin-bottom: -1px;

                a{
                    color: var(--link);
                }
            }
        }
    }

    [data-tab]{
        display: none;
    }
    [data-tab].active{
        display: block;
    }

}